DEFAULT_LOCALE=fr

COMPARIA_DB_URI="postgres://user:pass@host:5432/comparia_fr?sslmode=require"
COMPARIA_REDIS_HOST=localhost

OPENROUTER_API_KEY=
ALBERT_KEY=
GOOGLE_APPLICATION_CREDENTIALS=
LINKUP_API_KEY=

HF_PUSH_DATASET_KEY=
HF_PUSH_DATASET_PATH=ministere-culture/comparia

SENTRY_DSN=
SENTRY_ENVIRONMENT=prd
SENTRY_SAMPLE_RATE=1.0

LOG_FORMAT=JSON
# ALTCHA_HMAC_KEY=
# MOCK_RESPONSE=true
