services:
  backend:
    build:
      context: .
      dockerfile: docker/Dockerfile
      args:
        GIT_COMMIT: ${GIT_COMMIT:-}
        PUBLIC_API_URL: ${PUBLIC_API_URL:-}
        MATOMO_ID: ${MATOMO_ID:-}
        MATOMO_URL: ${MATOMO_URL:-}
      x-bake:
        tags:
          - ${HARBOR_REGISTRY:-55h10w99.gra7.container-registry.ovh.net}/${HARBOR_PROJECT:-atnum}/languia:${GIT_COMMIT}
          - ${HARBOR_REGISTRY:-55h10w99.gra7.container-registry.ovh.net}/${HARBOR_PROJECT:-atnum}/languia:${BRANCH_NAME}
        output:
          - type=registry # push to harbor server

  frontend:
    build:
      context: frontend
      dockerfile: ../docker/Dockerfile.front
      args:
        GIT_COMMIT: ${GIT_COMMIT:-}
        PUBLIC_API_URL: ${PUBLIC_API_URL:-}
        MATOMO_ID: ${MATOMO_ID:-}
        MATOMO_URL: ${MATOMO_URL:-}
      x-bake:
        tags:
          - ${HARBOR_REGISTRY:-55h10w99.gra7.container-registry.ovh.net}/${HARBOR_PROJECT:-atnum}/languia-front:${GIT_COMMIT}
          - ${HARBOR_REGISTRY:-55h10w99.gra7.container-registry.ovh.net}/${HARBOR_PROJECT:-atnum}/languia-front:${BRANCH_NAME}
        output:
          - type=registry # push to harbor server
