@import '@gouvfr/dsfr/dist/dsfr.min.css';
@import '@gouvfr/dsfr/dist/utility/icons/icons.css';
@import 'tailwindcss';
@plugin '@tailwindcss/typography';
@import './icons.css';

@custom-variant dark (&:where([data-fr-theme="dark"], [data-fr-theme="dark"] *));

@theme {
  --breakpoint-sm: 36em;
  --breakpoint-md: 48em;
  --breakpoint-lg: 62em;
  --breakpoint-xl: 78em;

  /* DFSR COLORS */
  --color-white: var(--grey-1000-50);
  --color-black: var(--grey-0-1000);
  --color-primary: var(--blue-france-main-525);
  --color-info: var(--info-425-625);
  --color-light-info: var(--info-950-100);
  --color-error: var(--error-425-625);
  --color-warning: var(--warning-425-625);
  --color-success: var(--green-emeraude-main-632);
  --color-yellow: var(--yellow-tournesol-850-200);
  --color-grey: var(--grey-425-625);
  --color-dark-grey: var(--grey-200-850);
  /* CUSTOM COLORS */
  --color-very-light-grey: var(--cg-very-light-grey);
  --color-light-grey: var(--cg-light-grey);
}

:root {
  /* CUSTOM DSFR LIKE ADDITION */
  --cg-blue-france-main-525-hover: #9898f8;
  --cg-blue-france-main-525-active: #aeaef9;
  --outline-color: #0a76f6;

  /* CUSTOM */
  --cg-very-light-grey: #fcfcfd;
  --cg-light-grey: #f3f5f9;
  --bot-a-color: #a96afe;
  --bot-b-color: #ff9575;

  /* xs breakpoint */
  --text-sm: 0.75rem;
  --text-sm--line-height: calc(1.25 / 0.875rem);
}

:root[data-fr-theme='dark'] {
  --cg-very-light-grey: #0a0a0b;
  --cg-light-grey: #1c1e22;
}

@media (min-width: 36em) {
  /* sm */
}

@media (min-width: 48em) {
  /* md */
  :root {
    --text-sm: 0.875rem;
  }
}

@media (min-width: 62em) {
  /* lg */
}

@media (min-width: 78em) {
  /* xl */
}

html,
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0 !important;
}
#app,
main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

/* CUSTOM HELPER CLASSES */
.c-border {
  border: 1px solid var(--grey-925-125);
}

.c-bot-disk-a {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: var(--bot-a-color);
}
.c-bot-disk-b {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: var(--bot-b-color);
}
