@import '@gouvfr/dsfr/dist/dsfr.min.css';
@import '@gouvfr/dsfr/dist/utility/icons/icons.css';
@import './icons.css';

:root {
  /* CUSTOM DSFR LIKE ADDITION */
  --cg-blue-france-main-525-hover: #9898f8;
  --cg-blue-france-main-525-active: #aeaef9;
  --outline-color: #0a76f6;

  /* CUSTOM */
  --cg-very-light-grey: #fcfcfd;
  --cg-light-grey: #f3f5f9;
  --cg-very-light-blue: #f9fbff;
  --cg-green: #58b77d;
  --cg-purple: #a96afe;
  --cg-orange: #ff9575;

  /* xs breakpoint */
  --text-xs: 0.675rem;
  --text-xs--line-height: calc(1 / 0.75);
  --text-sm: 0.75rem;
  --text-sm--line-height: calc(1.25 / 0.875rem);
}

:root[data-fr-theme='dark'] {
  --cg-very-light-grey: #0a0a0b;
  --cg-light-grey: #1c1e22;
  /* FIXME need equivalent in dark */
  --cg-very-light-blue: #0a0a0b;
}

@media (min-width: 36em) {
  /* sm */
}

@media (min-width: 48em) {
  /* md */
  :root {
    --text-xs: 0.75rem;
    --text-sm: 0.875rem;
  }
}

@media (min-width: 62em) {
  /* lg */
}

@media (min-width: 78em) {
  /* xl */
}

html,
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0 !important;
}
#app,
main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
