

/* BUGFIXES */

/* Hide all warning messages from Gradio to hide the "Warning: this connection might break on mobile" */
.toast-body.warning:not(.visible) {
  display: none;
}

.toast-body.warning:has(.visible) {
  display: block;
}

.toast-close.warning {
  display: none;
}

/* Gradio overrides */
:root {
  --block-background-fill: transparent !important;

  --block-padding: 0;
  --blue-france-main-525-hover: #9898F8;
  --blue-france-main-525-active: #AEAEF9;

  --chatbot-body-text-size: 16px !important;
}

.prose.chatbot.md {
  opacity: 1 !important;
}

.gap {
  gap: unset !important;
}

/* label, */
fieldset {
  /* background-color: var(--background-default-grey) !important; */
  border: none;
}

.form {
  border: none;
  background-color: transparent;
}


.fr-collapse {
  --collapse-max-height: None;
}

/* form label is in light grey */
.has-info {
  color: var(--text-title-grey) !important;
}

.app {
  padding: 0 !important;
  /* padding: var(--size-4) var(--size-8); */
}

footer:has(.built-with) {
  display: none !important;
}

/* Bug because of "supports conic-gradient" media query */
.fr-tooltip.fr-placement--top {
  background-image: conic-gradient(from -33.69deg at 50% 100%, transparent 0deg, var(--background-overlap-grey) 0deg, var(--background-overlap-grey) 67.38deg, transparent 67.38deg), conic-gradient(from -33.69deg at 50% 100%, transparent 0deg, var(--border-default-grey) 0deg, var(--border-default-grey) 67.38deg, transparent 67.38deg), linear-gradient(90deg, var(--border-default-grey), var(--border-default-grey)), linear-gradient(90deg, var(--background-overlap-grey), var(--background-overlap-grey));
}

.fr-tooltip.fr-placement--bottom {
  background-image: conic-gradient(from 146.31deg at 50% 0%, transparent 0deg, var(--background-overlap-grey) 0deg, var(--background-overlap-grey) 67.38deg, transparent 67.38deg), conic-gradient(from 146.31deg at 50% 0%, transparent 0deg, var(--border-default-grey) 0deg, var(--border-default-grey) 67.38deg, transparent 67.38deg), linear-gradient(90deg, var(--border-default-grey), var(--border-default-grey)), linear-gradient(90deg, var(--background-overlap-grey), var(--background-overlap-grey));
}

/* TODO: reenable */
.copy_code_button {
  display: none;
}

/* UTILITY CLASSES */
.bolder {
  font-weight: 700;
}


.text-grey {
  /* color: var(--block-title-text-color); */
  /* color: var(--neutral-500); */
  /* color: var(--text-default-grey); */
  /* color: var(--text-mention-grey); */
  color: var(--grey-425-625);
}

.text-grey-200 {
  color: var(--grey-200-850) !important;
}

.text-blue,
.fr-modal__title.text-blue,
h6.text-blue {
  /* Not DSFR compliant */
  color: var(--text-action-high-blue-france) !important;
}

.underline {
  --underline-hover-width: var(--underline-max-width);
}

.fr-link.fr-icon-home-4-line[target="_blank"]::after {
  mask-image: none;
  background-color: transparent;
  background-image: none;
}

.fr-text--xxl {
  font-size: 1.5rem;
}

.mobile-w-full {
  width: 100%;
}

@media (min-width: 48em) {

  .mobile-w-full {
    width: inherit;
  }

  .flex-md-row {
    flex-direction: row !important;
  }
}

.mobile-block {
  display: block !important;
}

.mobile-flex {
  display: flex !important;
}


@media (min-width: 48em) {
  .grid-cols-md-2 {
    grid-template-columns: 1fr 1fr;
  }

  .mobile-block {
    display: flex !important;
  }

  .mobile-flex {
    display: block !important;
  }


}

.fr-btn--secondary {
  color: #6a6af4 !important;
  box-shadow: inset 0 0 0 1px #6a6af4;
}

.fr-btn--close {
  color: #6a6af4 !important;
}

.fr-btn--close::after {
  background-color: #6a6af4 !important;
}


/* General */


:root {
  --text-title-grey: var(--grey-200-850) !important;
}


/* Gradio unofficial custom component Modal */
@media (min-width: 768px) {
  .modal-container {
    width: calc(50%);
    max-width: calc(50%);
  }
}

/* Screen by screen */

/* Screen 0 */

li.fr-nav__item {
  margin-bottom: 0;
}

.md-visible {
  display: none !important;
}

@media (min-width: 48em) {
  .md-visible {
    display: block !important;
  }
}

@media (min-width: 48em) {

  .md-hidden {
    display: none;
  }
}

#arena {
  margin: auto;
}

.fr-btn--tertiary {
  color: var(--blue-france-main-525) !important;
  border-color: var(--blue-france-main-525);
  border-width: 1px;
  border-style: solid;
}

.fr-btn--tertiary[target="_blank"]::after,
.purple-btn[target="_blank"]::after {
  display: none !important;
}

.purple-btn[disabled] {
  background-color: #E5E5E5;
  color: #929292 !important;

}

.purple-btn {
  background-color: var(--blue-france-main-525);
  color: #F5F5FE !important;

  --hover: var(--blue-france-main-525-hover);
  --active: var(--blue-france-main-525-active);
}

.grey-btn {
  background-color: var(--grey-200-850);
  color: #F5F5FE !important;
  /* --background-action-high-grey-hover: 
  --background-action-high-grey-active:  */
  --hover: var(--grey-200-850-hover);
  --active: var(--grey-200-850-active);
}

.btn {
  /* display: inline-flex;
  flex-direction: row;
  align-items: center;
  width: fit-content; */
  --underline-img: none;
  --hover-tint: var(--hover);
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5rem;
  min-height: 2.5rem;
  padding: 0.5rem 1rem;
}

.link {
  text-decoration: underline;
  background-image: none !important;

  /* useless? */
  border: none !important;
  box-shadow: none !important;
}

.link:active,
.link:hover {
  background-color: inherit !important;
}

.mission {
  color: var(--text-default-info) !important;
}


/* VOTE AREA */

.checkboxes label span {
  margin-left: 0;
}

.checkboxes label {
  font-size: 0.875em;
  border-radius: 1.5rem;
  background: white;
  color: #606367;
  border: 1px #DADCE0 solid;
  font-weight: 500;
}

.checkboxes label.selected {
  background: var(--blue-france-975-75);
  color: var(--blue-france-main-525);
  border: 1px var(--blue-france-main-525) solid;
}


.rounded-tile {
  border-color: #E5E5E5;
  border-width: 1px;
  border-style: solid;
  border-radius: 0.25rem;
}

.show-radio input[type=radio] {
  display: block !important;
}

/* REVEAL AREA */

/* Github-like title */
.github-title {
  /* --text-default-grey: var(--grey-200-850); */

  color: var(--text-default-grey) !important;
  font-weight: 400 !important;
  font-size: 1.1rem;

}

/* 
.github-title img {
  vertical-align: middle;} */

#reveal-screen h6 {
  font-size: 1rem;
}

.energy-balance-1 p,
.energy-balance-2 p {
  margin-bottom: 0 !important;
  --text-spacing: 0 !important;
}

.energy-balance-1 {
  display: grid;
  grid-template-columns: 1fr 0.1fr 1fr 0.1fr 1fr;
  grid-gap: 5px;
}

.energy-balance-2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5px;
}

.rounded-tile.with-icon {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.energy-balance-1 .fr-icon-question-line,
.energy-balance-2 .fr-icon-question-line {
  display: inline;
  position: absolute;
  right: 0.5em;
  top: 0.5em;
}

.your-choice {
  display: inline-block;

  margin-top: -0.5em;

  border-radius: 3rem;
  line-height: 2rem;
  padding: 0 1rem;
  background-color: var(--blue-france-main-525);
  color: white;
}

@media (min-width: 48em) {

  .energy-balance-1 {
    grid-template-columns: 1fr 0.1fr 1fr 0.1fr 1fr;
  }

  .energy-balance-2 {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .your-choice {
    float: right;
  }
}

#buttons-footer {
  min-height: 7rem;
  position: fixed;
  /* padding: 1em 20%; */
  /* width: 100%; */
  bottom: 0;
  left: 0;
  background-color: #FCFCFD;
  /* background-color: var(--background-alt-grey); */
  z-index: 100;
  /* border-top: solid 1px var(--border-default-grey); */
  /* box-shadow: inset 0 1px 0 0 var(--border-default-grey); */
  /* filter: drop-shadow(var(--raised-shadow)); */
}


#feedback-row {
  background-color: #FCFCFD;
  /* background-color: var(--background-alt-grey); */
  /* border-top: solid 1px var(--border-default-grey); */
}

.feedback-btns {
  width: 280px;
}

/* FICHE MODÈLE */

.model-details .rounded-tile {
  display: grid;
  text-align: center;
  justify-items: center;
  align-content: space-between;
  align-items: end;
}

.model-details.grid {
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.5rem;
}

@media (min-width: 48em) {

  .model-details.grid {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 0.5rem;
  }
}

/* MODAL */
/* Bend the modal component to our will */

.modal-block {
  padding: 2rem;
}

.modal-block .close {
  margin: 20px 40px;
  border: none;
  box-shadow: none;
  color: var(--text-action-high-blue-france);
}

.modal-block .close::before {
  font-weight: 500;
  padding-right: 15px;
  content: "Fermer";
  color: var(--text-action-high-blue-france);
}