@import '@gouvfr/dsfr/dist/utility/icons/icons.css';

/* EXTRA ICONS */
.fr-icon-alignment-star::before,
.fr-icon-alignment-star::after {
  -webkit-mask-image: url('/icons/alignment-star.svg');
  mask-image: url('/icons/alignment-star.svg');
}

.fr-icon-association::before,
.fr-icon-association::after {
  -webkit-mask-image: url('/icons/association.svg');
  mask-image: url('/icons/association.svg');
}

/* TODO: should be available in dsfr at some point? */
.fr-icon-bar-chart-2-line::before,
.fr-icon-bar-chart-2-line::after {
  -webkit-mask-image: url('/icons/bar-chart-2-line.svg');
  mask-image: url('/icons/bar-chart-2-line.svg');
}

.fr-icon-book-open::before,
.fr-icon-book-open::after {
  -webkit-mask-image: url('/icons/book-open-line.svg');
  mask-image: url('/icons/book-open-line.svg');
}

.fr-icon-bowl::before,
.fr-icon-bowl::after {
  -webkit-mask-image: url('/icons/bowl.svg');
  mask-image: url('/icons/bowl.svg');
}

.fr-icon-brain::before,
.fr-icon-brain::after {
  -webkit-mask-image: url('/icons/brain.svg');
  mask-image: url('/icons/brain.svg');
}

/* TODO: should be available in dsfr at some point? */
.fr-icon-building-4-line::before,
.fr-icon-building-4-line::after {
  -webkit-mask-image: url('/icons/building-4-line.svg');
  mask-image: url('/icons/building-4-line.svg');
}

.fr-icon-chat-charts::before,
.fr-icon-chat-charts::after {
  -webkit-mask-image: url('/icons/chat-charts.svg');
  mask-image: url('/icons/chat-charts.svg');
}

.fr-icon-book-ai-fill::before,
.fr-icon-book-ai-fill::after {
  -webkit-mask-image: url('/icons/book-ai-fill.svg');
  mask-image: url('/icons/book-ai-fill.svg');
}

.fr-icon-chat-search::before,
.fr-icon-chat-search::after {
  -webkit-mask-image: url('/icons/chat-search.svg');
  mask-image: url('/icons/chat-search.svg');
}

.fr-icon-copy::before,
.fr-icon-copy::after {
  -webkit-mask-image: url('/icons/copy.svg');
  mask-image: url('/icons/copy.svg');
}

.fr-icon-database::before,
.fr-icon-database::after {
  -webkit-mask-image: url('/icons/database.svg');
  mask-image: url('/icons/database.svg');
}

.fr-icon-dice::before,
.fr-icon-dice::after {
  -webkit-mask-image: url('/icons/dice.svg');
  mask-image: url('/icons/dice.svg');
}

.fr-icon-glass::before,
.fr-icon-glass::after {
  -webkit-mask-image: url('/icons/glass.svg');
  mask-image: url('/icons/glass.svg');
}

.fr-icon-heart-hand::before,
.fr-icon-heart-hand::after {
  -webkit-mask-image: url('/icons/heart-hand.svg');
  mask-image: url('/icons/heart-hand.svg');
}

.fr-icon-megaphone-fill::before,
.fr-icon-megaphone-fill::after {
  -webkit-mask-image: url('/icons/megaphone-fill.svg');
  mask-image: url('/icons/megaphone-fill.svg');
}

.fr-icon-old-globe::before,
.fr-icon-old-globe::after {
  -webkit-mask-image: url('/icons/old-globe.svg');
  mask-image: url('/icons/old-globe.svg');
}

.fr-icon-pass-expired-line::before,
.fr-icon-pass-expired-line::after {
  -webkit-mask-image: url('/icons/pass-expired-line.svg');
  mask-image: url('/icons/pass-expired-line.svg');
}

.fr-icon-plural::before,
.fr-icon-plural::after {
  -webkit-mask-image: url('/icons/plural.svg');
  mask-image: url('/icons/plural.svg');
}

.fr-icon-presentation::before,
.fr-icon-presentation::after {
  -webkit-mask-image: url('/icons/presentation.svg');
  mask-image: url('/icons/presentation.svg');
}

.fr-icon-pushpin-fill::before,
.fr-icon-pushpin-fill::after {
  -webkit-mask-image: url('/icons/pushpin-fill.svg');
  mask-image: url('/icons/pushpin-fill.svg');
}

.fr-icon-ruler::before,
.fr-icon-ruler::after {
  -webkit-mask-image: url('/icons/ruler.svg');
  mask-image: url('/icons/ruler.svg');
}

/* TODO: should be available in dsfr at some point? */
.fr-icon-school-line::before,
.fr-icon-school-line::after {
  -webkit-mask-image: url('/icons/school-line.svg');
  mask-image: url('/icons/school-line.svg');
}

.fr-icon-search-eye::before,
.fr-icon-search-eye::after {
  -webkit-mask-image: url('/icons/search-eye.svg');
  mask-image: url('/icons/search-eye.svg');
}

.fr-icon-shuffle::before,
.fr-icon-shuffle::after {
  -webkit-mask-image: url('/icons/shuffle.svg');
  mask-image: url('/icons/shuffle.svg');
}

/* TODO: should be available in dsfr at some point? */
.fr-icon-sort-asc::before,
.fr-icon-sort-asc::after {
  -webkit-mask-image: url('/icons/sort-asc.svg');
  mask-image: url('/icons/sort-asc.svg');
}

/* TODO: should be available in dsfr at some point? */
.fr-icon-sort-desc::before,
.fr-icon-sort-desc::after {
  -webkit-mask-image: url('/icons/sort-desc.svg');
  mask-image: url('/icons/sort-desc.svg');
}

.fr-icon-speak-ai-fill::before,
.fr-icon-speak-ai-fill::after {
  -webkit-mask-image: url('/icons/speak-ai-fill.svg');
  mask-image: url('/icons/speak-ai-fill.svg');
}

.fr-icon-university::before,
.fr-icon-university::after {
  -webkit-mask-image: url('/icons/university.svg');
  mask-image: url('/icons/university.svg');
}
