
body {
    width: 80% !important;
    margin: auto !important;
}

#send-area {
    position: fixed;
    padding: 3em 20%;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: var(--background-alt-grey);
    border-top: solid 1px var(--border-default-grey);
    z-index: 100;
  }

#arena {
    width: 80% !important;
    margin: auto;
}

.fr-header__brand {
  filter: none !important;
}

/* #free-mode.selected, #guided-mode.selected, #guided-area button.selected {
		border-bottom: 4px var(--border-default-blue-france) solid;
	} */

#mode-screen.send-area-enabled {
    margin-bottom: 12rem;
}

.built-with {
    display: none !important;
}

.icon-white img {
    filter: invert(100%);
}

.fr-icon-stack::before,
.fr-icon-stack::after {
  -webkit-mask-image: url("file=assets/icons/misc/stack.svg");
  mask-image: url("file=assets/icons/misc/stack.svg");
}

.fr-icon-stack::before {
background-image: url("file=assets/../icons/misc/stack.svg");
}

.fr-icon-ruler::before,
.fr-icon-ruler::after {
  -webkit-mask-image: url("file=assets/icons/misc/ruler.svg");
  mask-image: url("file=assets/icons/misc/ruler.svg");
}

.fr-icon-ruler::before {
background-image: url("file=assets/icons/misc/ruler.svg");
}

.fr-icon-copyright-fill::before,
.fr-icon-copyright-fill::after {
  -webkit-mask-image: url("file=assets/icons/business/copyright-fill.svg");
  mask-image: url("file=assets/icons/business/copyright-fill.svg");
}

.fr-icon-copyright-fill::before {
  background-image: url("file=assets/icons/business/copyright-fill.svg");
  }