/* BUGFIXES */
.app {
  padding: 0 !important;
  /* padding: var(--size-4) var(--size-8); */
}

/* Bug when fr-grid-row or other changes display property  */
.hidden,
.hide {
  display: none !important;
}

/* DARK MODE FIXES */

/* Temporary fixes for dark mode in arena: enforce clear mode */
/* .dark .fr-label {
  color: var(--text-default-grey) !important;
} */
body.dark {
  color: var(--body-text-color) !important;
  background-color: var(--background-default-grey) !important;
  --body-background-fill: var(--background-default-grey);
  --body-text-color: var(--text-default-grey);
}

/* .dark textarea, .dark input, .dark .padded {
  color: var(--body-text-color) !important;
  background-color: var(--background-default-grey) !important;
} */

.dark .chatbot p,
.dark p,
#free-mode p,
#guided-mode p,
#guided-area p {
  color: var(--body-text-color);
}

.dark .chatbot,
.dark .message-row,
.dark .user,
.dark .user:hover,
.dark .user:active {
  background-color: var(--background-default-grey) !important;
}

.dark code {
  background-color: var(--neutral-100);
}

/* "COMPONENTS" (not custom components) */

/* Radio button as DSFR-ish selectable tiles */
.radio-tiles label.selected,
.radio-tiles button:focus {
  box-shadow: 0 5px var(--border-action-high-blue-france);
  background-color: var(--background-default-grey-active) !important;
}

.radio-tiles label,
.radio-tiles button {
  border-top: 2px var(--border-default-grey) solid;
  border-left: 2px var(--border-default-grey) solid;
  border-right: 2px var(--border-default-grey) solid;
  -moz-box-shadow: 0 5px var(--border-action-high-grey);
  box-shadow: 0 5px var(--border-action-high-grey);
  margin: 0 auto;
  display: block;
  padding: 20px 50px;
  align-content: center;
  color: var(--text-action-high-blue-france);
  font-size: larger;
}

.radio-tiles input {
  display: none;
}

/* UTILITY CLASSES */

.bolder {
  font-weight: 700;
}

/* 
.icon-white img {
  filter: invert(100%);
} */
/* .icon-blue img {
  filter: 
} */

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-grey {
  color: var(--block-title-text-color);
  /* color: var(--neutral-500); */
}

.underline {
  --underline-hover-width: var(--underline-max-width);
}

/* General */
body {
  margin: auto !important;
}

.app {
  max-width: none !important;
  /* max-width: none; */
}

/* Gradio overrides */
label,
fieldset {
  background-color: var(--background-default-grey) !important;
  border: none;
}

.form {
  border: none;
}

/* Screen by screen */

/* Screen 0 */

#stepper-html.sticky {
  position: fixed;
  top: 0;
  z-index: 10000;
}

/* --raised-shadow: 0 1px 3px var(--shadow-color); */
#stepper-html {
  background-color: var(--background-raised-grey);
  filter: drop-shadow(var(--raised-shadow));
  /* hide top drop shadow by getting it closer to the header */
  top: -16px;
  /* transition: transform 0.3s ease-in-out; */
}

li.fr-nav__item {
  margin-bottom: 0;
}

#header-html {
  /* Required < 100 to be behind modal */
  z-index: 99;
}


.fr-header {
  filter: none;
  border-bottom: 1px solid var(--border-default-grey);
  /* filter: drop-shadow(var(--raised-shadow)); */
}

#arena {
  margin: auto;
}

.fr-header__brand {
  filter: none !important;
}

#send-area {
  position: fixed;
  padding: 1em 20%;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: var(--background-alt-grey);
  border-top: solid 1px var(--border-default-grey);
  z-index: 100;
}


#free-mode,
#guided-mode {
  border: 1px var(--border-default-grey) solid;
}

#free-mode.selected,
#guided-mode.selected,
#guided-area button.selected {
  border-bottom: 5px var(--border-action-high-blue-france) solid;
  background-color: var(--active-tint);
}

#mode-screen.send-area-enabled {
  margin-bottom: 12rem;
}

#chat-area {
  margin-bottom: 5rem;
}

.mission {
  color: var(--text-default-info) !important;
}

/* TODO: find a better selector... */
footer, .built-with,
.show-api {
  display: none !important;
}

.model-icon {
  display: inline;
}

#start-screen h4,
#free-mode h4,
#guided-mode h4,
#reveal-screen h4 {
  /* Not DSFR compliant */
  color: var(--text-action-high-blue-france) !important;

}

#start-screen ol {
  list-style-position: outside;
}

#start-screen ol li::marker {
  font-size: 1.5rem;
}

#chat-area button {
  cursor: default;
  padding: 2rem;
}

#chat-area .bot button,
#chat-area .bot button:hover,
#chat-area .bot button:active {
  background-color: var(--blue-france-975-75);
  border: 1px solid var(--border-default-grey);
  /* --hover-tint: var(--hover); */
  /* --hover-tint: var(--background-default-grey-hover); */
  /* --hover-tint: var(--background-default-grey-hover); */
  --hover-tint: var(--blue-france-975-75);
  color: var(--text-default-grey)
    /* --hover-tint: var(--background-alt-blue-france); */
}

/* #chat-area #chatbot-0 .user-row {
  display: none;
} */

#chat-area .user button,
#chat-area .user button:hover,
#chat-area .user button:active {
  /* margin-left: -40px;
  width: calc(100% + 40px); */
  background-color: var(--background-alt-grey);
  --hover-tint: var(--background-alt-grey);
  border-radius: 0.75rem;
  /* --hover-tint: var(--hover); */
  /* --hover-tint: var(--background-default-grey-hover); */
  /* --hover-tint: var(--background-action-high-blue-france); */
}

#chat-area .user-row {
  min-width: 100%;
  /* left: -50px;
  z-index: 0; */
}

#chat-area .chatbot p {
  padding-top: 0.5rem;
  text-align: left !important;
  color: var(--text-active-grey);
}

#chat-area .chatbot ol,
#chat-area .chatbot ul {
  font-size: initial !important;
  color: var(--text-active-grey);
}

/* TODO: test if needed in light mode */
#chat-area .message-wrap,
#chat-area .message-row,
#chat-area .flex-wrap,
#chat-area .styler {
  background-color: var(--background-default-grey);
}

#chat-area,
#chat-area .flex-wrap {
  border: none !important;
  box-shadow: none !important;
}

#chat-area #chatbot-0 .message.bot .chatbot::before {
  content: "Modèle A";
  background-color: var(--blue-france-975-75);
}

#chat-area #chatbot-1 .message.bot .chatbot::before {
  content: "Modèle B";
  background-color: var(--blue-france-975-75);
}

#chat-area .message.bot .chatbot::before {
  text-align: left;
  /* background-color: var(--blue-fr ance-975-75); */
  /* position: relative; */
  /* top: 1.5rem;
  left: 1.5rem; */
  font-size: 1.5rem;
  font-weight: 700;

  /* Not DSFR compliant */
  color: var(--text-action-high-blue-france);
}

/* TODO: don't do this on mobile */
.your-choice {
  position: absolute;
  right: 2em;
}


#buttons-footer {
  position: fixed;
  padding: 1em 20%;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: var(--background-alt-grey);
  border-top: solid 1px var(--border-default-grey);
  z-index: 100;
  /* box-shadow: inset 0 1px 0 0 var(--border-default-grey); */
  /* filter: drop-shadow(var(--raised-shadow)); */
}

.has-info {
  color: var(--text-title-grey) !important;
}

#feedback-row
{
  background-color: var(--background-alt-grey);
  border-top: solid 1px var(--border-default-grey);
}

.no-bg .form {
  background-color: transparent !important;
}

/* Icons */

.fr-icon-stack::before,
.fr-icon-stack::after {
  -webkit-mask-image: url("file=assets/extra-icons/stack.svg");
  mask-image: url("file=assets/extra-icons/stack.svg");
}

.fr-icon-stack::before {
  background-image: url("file=assets/extra-icons/stack.svg");
}

.fr-icon-ruler::before,
.fr-icon-ruler::after {
  -webkit-mask-image: url("file=assets/extra-icons/ruler.svg");
  mask-image: url("file=assets/extra-icons/ruler.svg");
}

.fr-icon-ruler::before {
  background-image: url("file=assets/extra-icons/ruler.svg");
}

.fr-icon-copyright-line::before,
.fr-icon-copyright-line::after {
  -webkit-mask-image: url("file=assets/dsfr/icons/business/copyright-line.svg");
  mask-image: url("file=assets/dsfr/icons/business/copyright-line.svg");
}

.fr-icon-copyright-line::before {
  background-image: url("file=assets/dsfr/icons/business/copyright-line.svg");
}

.fr-icon-home-4-line::before,
.fr-icon-home-4-line::after {
  background-image: url("file=assets/dsfr/icons/buildings/home-4-line.svg");

  -webkit-mask-image: url("file=assets/dsfr/icons/buildings/home-4-line.svg");
  mask-image: url("file=assets/dsfr/icons/buildings/home-4-line.svg");
}

.fr-icon-discuss-line::before,
.fr-icon-discuss-line::after {
  background-color: var(--text-action-high-blue-france);
  /* background-image : url("file=assets/dsfr/icons/communication/discuss-line.svg"); */

  -webkit-mask-image: url("file=assets/dsfr/icons/communication/discuss-line.svg");
  mask-image: url("file=assets/dsfr/icons/communication/discuss-line.svg");

}

.fr-icon-chat-delete-line::before,
.fr-icon-chat-delete-line::after {
  background-color: var(--text-action-high-blue-france);
  /* background-image: url("file=assets/dsfr/icons/communication/chat-delete-line.svg"); */

  -webkit-mask-image: url("file=assets/dsfr/icons/communication/chat-delete-line.svg");
  mask-image: url("file=assets/dsfr/icons/communication/chat-delete-line.svg");
}

.fr-icon-pass-expired-line::before,
.fr-icon-pass-expired-line::after {
  background-color: var(--text-action-high-blue-france);
  /* background-image: url("file=assets/extra-icons/pass-expired.svg"); */

  -webkit-mask-image: url("file=assets/extra-icons/pass-expired.svg");
  mask-image: url("file=assets/extra-icons/pass-expired.svg");
}

/* .fr-icon-refresh-line::before, 
.fr-icon-refresh-line::after {
  background-color: var(--text-action-high-blue-france);

  -webkit-mask-image: url("file=assets/dsfr/icons/system/refresh-line.svg");
  mask-image: url("file=assets/dsfr/system/refresh-line.svg");
} */

.fr-icon-code-view::before {
  background-image: url("file=assets/dsfr/icons/editor/code-view.svg");

  -webkit-mask-image: url("file=assets/dsfr/icons/editor/code-view.svg");
  mask-image: url("file=assets/dsfr/icons/editor/code-view.svg");
}

.fr-icon-table-2::before {
  background-image: url("file=assets/dsfr/icons/editor/table-2.svg");

  -webkit-mask-image: url("file=assets/dsfr/icons/editor/table-2.svg");
  mask-image: url("file=assets/dsfr/icons/editor/table-2.svg");
}

.fr-icon-equalizer-line::before {
  background-image: url("file=assets/dsfr/icons/media/equalizer-line.svg");

  -webkit-mask-image: url("file=assets/dsfr/icons/media/equalizer-line.svg");
  mask-image: url("file=assets/dsfr/icons/media/equalizer-line.svg");
}

.fr-icon-article-line::before {
  background-image: url("file=assets/dsfr/icons/document/article-line.svg");

  -webkit-mask-image: url("file=assets/dsfr/icons/document/article-line.svg");
  mask-image: url("file=assets/dsfr/icons/document/article-line.svg");
}

.fr-icon-leaf-line::before {
  background-image: url("file=assets/dsfr/icons/others/leaf-line.svg");

  -webkit-mask-image: url("file=assets/dsfr/icons/others/leaf-line.svg");
  mask-image: url("file=assets/dsfr/icons/others/leaf-line.svg");
}