/* BUGFIXES */
/* Gradio overrides */
:root {
  --block-background-fill: transparent !important;

  --blue-france-main-525-hover: #9898F8;
  --blue-france-main-525-active: #AEAEF9;

  --chatbot-body-text-size: 16px !important;
}

.prose.chatbot.md {
  opacity: 1 !important;
}

.gap {
  gap: unset !important;
}

.fr-header__brand.fr-enlarge-link:hover,
.fr-header__brand.fr-enlarge-link:active {
  background-color: inherit;
}

label,
fieldset {
  /* background-color: var(--background-default-grey) !important; */
  border: none;
}

.form {
  border: none;
  background-color: transparent;
}


.fr-collapse {
  --collapse-max-height: None;
}

/* form label is in light grey */
.has-info {
  color: var(--text-title-grey) !important;
}

.app {
  padding: 0 !important;
  /* padding: var(--size-4) var(--size-8); */
}

/* TODO: find a better selector... */
footer,
.built-with,
.show-api {
  display: none !important;
}

/* Bug when fr-grid-row or other changes display property  */
.hidden,
.hide {
  display: none !important;
}

/* Bug because of "supports conic-gradient" media query */
.fr-tooltip.fr-placement--top {
  background-image: conic-gradient(from -33.69deg at 50% 100%, transparent 0deg, var(--background-overlap-grey) 0deg, var(--background-overlap-grey) 67.38deg, transparent 67.38deg), conic-gradient(from -33.69deg at 50% 100%, transparent 0deg, var(--border-default-grey) 0deg, var(--border-default-grey) 67.38deg, transparent 67.38deg), linear-gradient(90deg, var(--border-default-grey), var(--border-default-grey)), linear-gradient(90deg, var(--background-overlap-grey), var(--background-overlap-grey));
}

.fr-tooltip.fr-placement--bottom {
  background-image: conic-gradient(from 146.31deg at 50% 0%, transparent 0deg, var(--background-overlap-grey) 0deg, var(--background-overlap-grey) 67.38deg, transparent 67.38deg), conic-gradient(from 146.31deg at 50% 0%, transparent 0deg, var(--border-default-grey) 0deg, var(--border-default-grey) 67.38deg, transparent 67.38deg), linear-gradient(90deg, var(--border-default-grey), var(--border-default-grey)), linear-gradient(90deg, var(--background-overlap-grey), var(--background-overlap-grey));
}

/* TODO: reenable */
.copy_code_button {
  display: none;
}

/* UTILITY CLASSES */
.grow-0 {
  flex-grow: 0;
}

.h-full {
  height: 100%;
}

.h-screen {
  height: 100vh;
}

.min-h-screen {
  min-height: 100vh;
}

.min-h-28 {
  min-height: 7rem;
}

.h-20 {
  height: 5rem;
  /* 80px */
}

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

.block {
  display: block;
}

.bolder {
  font-weight: 700;
}

.bg-white {
  background-color: white;
}

.text-center {
  text-align: center;
}

.self-center {
  align-self: center;
}

.justify-center {
  justify-content: center;
}

.text-left {
  text-align: left;
}

.text-grey {
  /* color: var(--block-title-text-color); */
  /* color: var(--neutral-500); */
  /* color: var(--text-default-grey); */
  /* color: var(--text-mention-grey);
  color: var(--grey-425-625); */
  color: #949494;

}

.text-grey-200 {
  color: var(--grey-200-850) !important;
}

.text-blue,
.fr-modal__title.text-blue,
h6.text-blue {
  /* Not DSFR compliant */
  color: var(--text-action-high-blue-france) !important;
}

.underline {
  --underline-hover-width: var(--underline-max-width);
}

.fr-text--xxl {
  font-size: 1.5rem;
}

.flex {
  display: flex;
}

.items-start {
  align-items: start;
}

.gap-0 {
  gap: 0px;
}

/* General */
body {
  margin: auto !important;
}

.app {
  max-width: none !important;
  /* max-width: none; */
  background-color: #FCFCFD;
}

/* Gradio unofficial custom component Modal */
@media (min-width: 768px) {
  .modal-container {
    width: calc(50%);
    max-width: calc(50%);
  }
}


/* Screen by screen */

/* Screen 0 */

textarea.fr-input {
  min-height: 2.5rem !important;
}


li.fr-nav__item {
  margin-bottom: 0;
}

#header-html {
  /* Required < 100 to be behind modal */
  z-index: 98;
}


.fr-header {
  filter: none;
  border-bottom: 1px solid var(--border-default-grey);
  /* filter: drop-shadow(var(--raised-shadow)); */
}

#arena {
  margin: auto;
}

.fr-header__brand {
  filter: none !important;
}

#send-area {
  position: fixed;
  padding: 0 20% 1em;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: #FCFCFD;
  /* background-color: transparent; */
  /* background-color: var(--background-alt-grey); */
  /* border-top: solid 1px var(--border-default-grey); */
  z-index: 100;
}

/* 
#send-area .small-icon .button-icon {
  width: 15px;
  height: 14px;
} */

.purple-btn[disabled] {
  background-color: #E5E5E5;
  color: #929292;

}

.purple-btn {
  background-color: var(--blue-france-main-525);
  color: #F5F5FE;

  --hover: var(--blue-france-main-525-hover);
  --active: var(--blue-france-main-525-active);
}

.grey-btn {
  background-color: var(--grey-200-850);
  color: #F5F5FE;
  /* --background-action-high-grey-hover: 
  --background-action-high-grey-active:  */
  --hover: var(--grey-200-850-hover);
  --active: var(--grey-200-850-active);
}

.btn {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
  --underline-img: none;
  --hover-tint: var(--hover);
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5rem;
  min-height: 2.5rem;
  padding: 0.5rem 1rem;
}

.link {
  border: none !important;
  box-shadow: none !important;
  text-decoration: underline;
}

.link:active,
.link:hover {
  background-color: inherit !important;
}

#mode-screen p {
  margin: 0 !important;
}

#chat-area {
  background-color: white;
  margin-bottom: 5rem;
}

.mission {
  color: var(--text-default-info) !important;
}


/* Github-like title */
#reveal-screen h4 {
  /* --text-default-grey: var(--grey-200-850); */

  color: var(--text-default-grey) !important;
  font-weight: 400 !important;
}

/* CHAT AREA */

#chat-area button {
  cursor: default;
  padding: 1.25rem;
  user-select: text;
  -webkit-user-select: text !important;
  overflow-x: auto;
}

#chat-area .bot button,
#chat-area .bot button:hover,
#chat-area .bot button:active {
  /* background-color: transparent; */
  --hover-tint: transparent;
  --active-tint: transparent;

  color: var(--text-default-grey);
}

/* #chat-area #chatbot-0 .user-row {
  display: none;
} */
.message-wrap>.user-row:first-child {
  padding-bottom: 0;
}

.message-wrap>.user-row:first-child .message.user::after {
  content: "Quelle réponse préférez-vous ?";
  color: var(--text-title-grey);
  padding-top: 2rem;
  padding-bottom: 5px;
  font-size: 1.75rem;
  font-weight: 700;
  text-align: center;
}

.message-wrap>.user-row:first-child .flex-wrap.user::after {
  content: "Votre choix nous aide à améliorer les réponses des IA";
  color: #949494;
  font-size: 0.875rem;
  text-align: center;
  display: block;
}

@media (min-width: 48em) {
  /*! media md */

  #chat-area .flex-wrap.bot {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 1fr;
  }

  /* .thought is the class of the second bot message  */
  #chat-area .thought {
    margin-top: 0 !important;
  }
}

#chat-area .flex-wrap.bot {
  display: grid;
  column-gap: 2em;
}

#chat-area .panel .user {
  text-align: left !important;
}


#chat-area h1,
#chat-area h2,
#chat-area h3,
#chat-area h4,
#chat-area h5,
#chat-area h6 {
  font-weight: 700;
  font-size: 1.5rem !important;
}



@media (min-width: 48em) {
  /*! media md */


  #chat-area .user button,
  #chat-area .user button:hover,
  #chat-area .user button:active {
    width: 60%;
  }
}

#chat-area .user button,
#chat-area .user button:hover,
#chat-area .user button:active {
  text-align: right;
  margin-left: auto;
  background-color: var(--grey-950-100);
  --hover-tint: var(--grey-950-100);
  border-radius: 0.75rem
}

#chat-area .user-row {
  min-width: 100%;
}

#chat-area .chatbot p {
  /* padding-top: 0.5rem; */
  text-align: left !important;
  color: var(--text-active-grey);
}

#chat-area .chatbot ol,
#chat-area .chatbot ul {
  font-size: initial !important;
  color: var(--text-active-grey);
}

/* TODO: test if needed in light mode */
#chat-area .message-wrap,
#chat-area .message-row,
#chat-area .flex-wrap,
#chat-area .styler {
  background-color: #FCFCFD;
}

#chat-area,
#chat-area .flex-wrap {
  border: none !important;
  box-shadow: none !important;
}

#chat-area #main-chatbot .message.bot {
  border-color: #E5E5E5;
  border-width: 1px;
  border-style: solid;
  border-radius: 0.75rem;
  background-color: white;
}

@media (min-width: 48em) {

  #chat-area #main-chatbot .message.bot {
    max-width: 45vw;
  }

}

#chat-area #main-chatbot .message.bot:not(.thought) .chatbot::before {
  content: "Modèle A";
  display: inline-block;
}

#chat-area #main-chatbot .message.bot:not(.thought) button::before {
  color: #A96AFE;
}

#chat-area #main-chatbot .message.bot.thought .chatbot::before {
  content: "Modèle B";
  display: inline-block;
}

#chat-area #main-chatbot .message.bot.thought button::before {
  color: #ff9575;
  /* --pink-tuile-sun-425-moon-750: #ff9575; */
}

#chat-area #main-chatbot .message.bot button::before {
  content: '•';
  font-size: 96px;
  /* margin-top: 4px; */
  margin-left: 0px;
  line-height: 0;
  vertical-align: top;
  margin-top: 6px;
  display: inline-block;
}

#chat-area .message.bot .chatbot::before {
  color: var(--grey-200-850);
  font-weight: bold;
  font-size: medium;

  margin-bottom: 1em;

  /* --idle: transparent;
  --hover: var(--background-contrast-grey-hover);
  --active: var(--background-contrast-grey-active); */
}

/* VOTE AREA */


#supervote-area input[type="checkbox"] {
  display: none;
}

.checkboxes label {
  border-radius: 1.5rem;
  background: white;
  color: #606367;
  border: 1px #DADCE0 solid;
  font-weight: 500;
}

.checkboxes label.selected {
  background: var(--blue-france-975-75);
  color: var(--blue-france-main-525);
  border: 1px var(--blue-france-main-525) solid;
}

.rounded-tile {
  border-color: #E5E5E5;
  border-width: 1px;
  border-style: solid;
  border-radius: 0.25rem;
}

.rounded-corners {
  border-color: #E5E5E5;
  border-width: 1px;
  border-style: solid;
  border-radius: 0.75rem;
}

.show-radio input[type=radio] {
  display: block !important;
}

.thumb-up-icon::before {
  content: "";
  padding-right: 22px;
  margin-right: 0.5em;
  /* width: 22px; */
  height: 22px;
  background-image: url("file=assets/extra-icons/thumb-up.svg");
}

.thumb-down-icon::before {
  content: "";
  padding-right: 24px;
  margin-right: 0.5em;
  height: 23px;
  background-image: url("file=assets/extra-icons/thumb-down.svg");
}

/* REVEAL AREA */


#reveal-screen .rounded-tile p {
  margin-bottom: 0 !important;
  --text-spacing: 0 !important;
}

#energy-balance {
  text-align: center !important;
}

#reveal-screen .fr-tooltip {
  /* position: relative; */
  /* display: inline; */
  float: right;
  /* width: 20px;
  height: 20px; */
}

@media (min-width: 48em) {
  .your-choice {
    position: absolute;
    right: 2em;
  }
}

#buttons-footer {
  position: fixed;
  /* padding: 1em 20%; */
  /* width: 100%; */
  bottom: 0;
  left: 0;
  background-color: #FCFCFD;
  /* background-color: var(--background-alt-grey); */
  z-index: 100;
  /* border-top: solid 1px var(--border-default-grey); */
  /* box-shadow: inset 0 1px 0 0 var(--border-default-grey); */
  /* filter: drop-shadow(var(--raised-shadow)); */
}


#feedback-row {
  background-color: #FCFCFD;
  /* background-color: var(--background-alt-grey); */
  /* border-top: solid 1px var(--border-default-grey); */
}

/* MODAL */
/* Bend the modal component to our will */

.modal-block {
  padding: 2rem;
}

.modal-block .close {
  margin: 20px 40px;
  border: none;
  box-shadow: none;
  color: var(--text-action-high-blue-france);
}

.modal-block .close::before {
  font-weight: 500;
  padding-right: 15px;
  content: "Fermer";
  color: var(--text-action-high-blue-france);
}

/* Icons */


.fr-icon-discuss-line::before,
.fr-icon-discuss-line::after {
  background-color: var(--text-action-high-blue-france);

  -webkit-mask-image: url("file=assets/dsfr/icons/communication/discuss-line.svg");
  mask-image: url("file=assets/dsfr/icons/communication/discuss-line.svg");

}

.fr-icon-chat-delete-line::before,
.fr-icon-chat-delete-line::after {
  background-color: var(--text-action-high-blue-france);
  /* background-image: url("file=assets/dsfr/icons/communication/chat-delete-line.svg"); */

  -webkit-mask-image: url("file=assets/dsfr/icons/communication/chat-delete-line.svg");
  mask-image: url("file=assets/dsfr/icons/communication/chat-delete-line.svg");
}

.fr-icon-pass-expired-line::before,
.fr-icon-pass-expired-line::after {
  background-color: var(--text-action-high-blue-france);
  /* background-image: url("file=assets/extra-icons/pass-expired.svg"); */

  -webkit-mask-image: url("file=assets/extra-icons/pass-expired.svg");
  mask-image: url("file=assets/extra-icons/pass-expired.svg");
}

.fr-icon-refresh-line::before,
.fr-icon-refresh-line::after {
  background-color: var(--text-action-high-blue-france);

  -webkit-mask-image: url("file=assets/extra-icons/refresh-blue.svg");
  mask-image: url("file=assets/extra-icons/refresh-blue.svg");
}

.fr-icon-stack::before,
.fr-icon-stack::after {
  -webkit-mask-image: url("file=assets/extra-icons/stack.svg");
  mask-image: url("file=assets/extra-icons/stack.svg");
}

.fr-icon-stack::before {
  background-image: url("file=assets/extra-icons/stack.svg");
}

.fr-icon-ruler::before,
.fr-icon-ruler::after {
  -webkit-mask-image: url("file=assets/extra-icons/ruler.svg");
  mask-image: url("file=assets/extra-icons/ruler.svg");
}

.fr-icon-ruler::before {
  background-image: url("file=assets/extra-icons/ruler.svg");
}

.fr-icon-download-line::before,
.fr-icon-download-line::after {
  -webkit-mask-image: url("file=assets/dsfr/icons/system/download-line.svg");
  mask-image: url("file=assets/dsfr/icons/system/download-line.svg");
}

.fr-icon-download-line::before {
  background-image: url("file=assets/dsfr/icons/system/download-line.svg");
}

.fr-icon-copyright-line::before,
.fr-icon-copyright-line::after {
  -webkit-mask-image: url("file=assets/dsfr/icons/business/copyright-line.svg");
  mask-image: url("file=assets/dsfr/icons/business/copyright-line.svg");
}

.fr-icon-copyright-line::before {
  background-image: url("file=assets/dsfr/icons/business/copyright-line.svg");
}

.fr-icon-home-4-line::before,
.fr-icon-home-4-line::after {
  background-image: url("file=assets/dsfr/icons/buildings/home-4-line.svg");

  -webkit-mask-image: url("file=assets/dsfr/icons/buildings/home-4-line.svg");
  mask-image: url("file=assets/dsfr/icons/buildings/home-4-line.svg");
}


.fr-icon-success-line::before,
.fr-icon-success-line::after {
  -webkit-mask-image: url("file=assets/dsfr/icons/system/fr--success-line.svg");
  mask-image: url("file=assets/dsfr/icons/system/fr--success-line.svg");
  background-color: var(--text-action-high-blue-france);
}


.fr-icon-code-view::before {
  background-image: url("file=assets/dsfr/icons/editor/code-view.svg");

  -webkit-mask-image: url("file=assets/dsfr/icons/editor/code-view.svg");
  mask-image: url("file=assets/dsfr/icons/editor/code-view.svg");
}

.fr-icon-table-2::before {
  background-image: url("file=assets/dsfr/icons/editor/table-2.svg");

  -webkit-mask-image: url("file=assets/dsfr/icons/editor/table-2.svg");
  mask-image: url("file=assets/dsfr/icons/editor/table-2.svg");
}

.fr-icon-equalizer-line::before {
  background-image: url("file=assets/dsfr/icons/media/equalizer-line.svg");

  -webkit-mask-image: url("file=assets/dsfr/icons/media/equalizer-line.svg");
  mask-image: url("file=assets/dsfr/icons/media/equalizer-line.svg");
}

.fr-icon-article-line::before {
  background-image: url("file=assets/dsfr/icons/document/article-line.svg");

  -webkit-mask-image: url("file=assets/dsfr/icons/document/article-line.svg");
  mask-image: url("file=assets/dsfr/icons/document/article-line.svg");
}

.fr-icon-leaf-line::before {
  background-image: url("file=assets/dsfr/icons/others/leaf-line.svg");

  -webkit-mask-image: url("file=assets/dsfr/icons/others/leaf-line.svg");
  mask-image: url("file=assets/dsfr/icons/others/leaf-line.svg");
}

.fr-icon-arrow-right-line::before,
.fr-icon-arrow-right-line::after {
  background-image: url("file=assets/dsfr/icons/system/arrow-right-line.svg");

  -webkit-mask-image: url("file=assets/dsfr/icons/system/arrow-right-line.svg");
  mask-image: url("file=assets/dsfr/icons/system/arrow-right-line.svg");
}

.fr-icon-translate-2::before,
.fr-icon-translate-2::after {
  -webkit-mask-image: url("file=assets/dsfr/icons/editor/translate-2.svg");
  mask-image: url("file=assets/dsfr/icons/editor/translate-2.svg");
}

.fr-icon-booklet::before,
.fr-icon-booklet::after {
  -webkit-mask-image: url("file=assets/dsfr/icons/document/booklet-line.svg");
  mask-image: url("file=assets/dsfr/icons/document/booklet-line.svg");
}

.fr-icon-lightbulb::before,
.fr-icon-lightbulb::after {
  -webkit-mask-image: url("file=assets/dsfr/icons/others/lightbulb-line.svg");
  mask-image: url("file=assets/dsfr/icons/others/lightbulb-line.svg");
}

.fr-icon-bike::before,
.fr-icon-bike::after {
  -webkit-mask-image: url("file=assets/dsfr/icons/map/bike-line.svg");
  mask-image: url("file=assets/dsfr/icons/map/bike-line.svg");
}

.fr-icon-draft::before,
.fr-icon-draft::after {
  -webkit-mask-image: url("file=assets/dsfr/icons/document/draft-line.svg");
  mask-image: url("file=assets/dsfr/icons/document/draft-line.svg");
}

.fr-icon-briefcase::before,
.fr-icon-briefcase::after {
  -webkit-mask-image: url("file=assets/dsfr/icons/business/briefcase-line.svg");
  mask-image: url("file=assets/dsfr/icons/business/briefcase-line.svg");
}

.fr-icon-shuffle::before,
.fr-icon-shuffle::after {
  -webkit-mask-image: url("file=assets/extra-icons/shuffle.svg");
  mask-image: url("file=assets/extra-icons/shuffle.svg");
}

/*
.fr-icon-back::before {
  -webkit-mask-image: url("file=assets/extra-icons/back.svg");
  mask-image: url("file=assets/extra-icons/back.svg");
  background-color: var(--text-action-high-blue-france);

} */

.fr-icon--question-line {
  -webkit-mask-image: url("file=assets/dsfr/icons/system/question-line.svg");
  mask-image: url("file=assets/dsfr/icons/system/question-line.svg");
  background-color: var(--text-active-grey);
  color: var(--text-active-grey) !important;
  display: inline-block;
  mask-size: 100%;
  mask-repeat: no-repeat;
}