body {
  /* width: 80% !important; */
  margin: auto !important;
}

#send-area {
  position: fixed;
  padding: 1em 20%;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: var(--background-alt-grey);
  border-top: solid 1px var(--border-default-grey);
  z-index: 100;
}

.app {
  max-width: none !important;
  /* max-width: none; */
}

/* Only for landing? */
.fr-header {
  filter: none;
  /* filter: drop-shadow(var(--raised-shadow)); */
}

#arena {
  /* width: 80% !important; */
  margin: auto;
}

.fr-header__brand {
  filter: none !important;
}

/* #free-mode.selected, #guided-mode.selected, #guided-area button.selected {
		border-bottom: 4px var(--border-default-blue-france) solid;
	} */

#mode-screen.send-area-enabled {
  margin-bottom: 12rem;
}

#chat-area {
  margin-bottom: 5rem;
}

.mission {
  color: var(--text-default-info) !important;
}

.built-with,
.show-api {
  display: none !important;
}

.model-icon {
  display: inline;
}

.icon-white img {
  filter: invert(100%);
}

.fr-icon-stack::before,
.fr-icon-stack::after {
  -webkit-mask-image: url("file=assets/extra-icons/stack.svg");
  mask-image: url("file=assets/extra-icons/stack.svg");
}

.fr-icon-stack::before {
  background-image: url("file=assets/extra-icons/stack.svg");
}

.fr-icon-ruler::before,
.fr-icon-ruler::after {
  -webkit-mask-image: url("file=assets/extra-icons/ruler.svg");
  mask-image: url("file=assets/extra-icons/ruler.svg");
}

.fr-icon-ruler::before {
  background-image: url("file=assets/extra-icons/misc/ruler.svg");
}

.fr-icon-copyright-line::before,
.fr-icon-copyright-line::after {
  -webkit-mask-image: url("file=assets/dsfr/icons/business/copyright-line.svg");
  mask-image: url("file=assets/dsfr/icons/business/copyright-line.svg");
}

.fr-icon-copyright-line::before {
  background-image: url("file=assets/dsfr/icons/business/copyright-line.svg");
}

.fr-icon-home-4-line::before,
.fr-icon-home-4-line::after {
  -webkit-mask-image: url("file=assets/dsfr/icons/buildings/home-4-line.svg");
  mask-image: url("file=assets/dsfr/icons/buildings/home-4-line.svg");
}

.fr-icon-home-4-line::before,
.fr-icon-home-4-line::after {
  background-image: url("file=assets/dsfr/icons/buildings/home-4-line.svg");
}

#start_screen h4 {
  /* Not DSFR compliant */
  color: var(--text-action-high-blue-france) !important;

}
#start_screen ol {
  list-style-position: outside;
}

#start_screen ol li::marker {
  font-size: 1.5rem;
}

/* Temporary fixes for dark mode in arena: enforce clear mode */
/* .dark .fr-label {
  color: var(--text-default-grey) !important;
} */
body.dark {
  --body-background-fill: var(--background-default-grey);
  --body-text-color: var(--text-default-grey) !important;
}

.fr-icon-discuss-line::before,
.fr-icon-discuss-line::after {
  background-color: var(--text-action-high-blue-france);
  /* background-image : url("file=assets/dsfr/icons/communication/discuss-line.svg"); */

  -webkit-mask-image: url("file=assets/dsfr/icons/communication/discuss-line.svg");
  mask-image: url("file=assets/dsfr/icons/communication/discuss-line.svg");

}

.fr-icon-chat-delete-line::before,
.fr-icon-chat-delete-line::after {
  background-color: var(--text-action-high-blue-france);
  /* background-image: url("file=assets/dsfr/icons/communication/chat-delete-line.svg"); */

  -webkit-mask-image: url("file=assets/dsfr/icons/communication/chat-delete-line.svg");
  mask-image: url("file=assets/dsfr/icons/communication/chat-delete-line.svg");
}

.fr-icon-pass-expired-line::before,
.fr-icon-pass-expired-line::after {
  background-color: var(--text-action-high-blue-france);
  /* background-image: url("file=assets/extra-icons/pass-expired.svg"); */

  -webkit-mask-image: url("file=assets/extra-icons/pass-expired.svg");
  mask-image: url("file=assets/extra-icons/pass-expired.svg");
}

.text-center {
  text-align: center;
}