
/* FIXME: */
/* DARK MODE FIXES */

/* @media (prefers-color-scheme: dark) {
  body {
    background: var(--bg-dark);
    color: var(--col-dark);
  } */
/* Temporary fixes for dark mode in arena: enforce clear mode */
/* .dark .fr-label {
  color: var(--text-default-grey) !important;
} */
body.dark {
  color: var(--body-text-color) !important;
  background-color: var(--background-default-grey) !important;
  --body-background-fill: var(--background-default-grey);
  --body-text-color: var(--text-default-grey);
  --block-background-fill: transparent !important;
  --block-padding: 0 !important;
}

.dark .html-container {
  background-color:   rgb(252, 252, 253);
}

.dark .user {
  background-color: #eee !important;
}

/* .dark textarea, .dark input, .dark .padded {
  color: var(--body-text-color) !important;
  background-color: var(--background-default-grey) !important;
} */

.dark .chatbot p,
.dark p,
.dark #free-mode p,
.dark #guided-area p, .dark .step-badge, .dark strong,  .dark li
/* , .dark  .prose * */
 {
  color: #262626 !important;
  --body-text-color: #262626 !important;
}

.dark .chatbot,
.dark .message-row,
.dark .user,
.dark .user:hover,
.dark .user:active {
  background-color: var(--background-default-grey) !important;
}

.dark code {
  background-color: var(--neutral-100);
}

.dark .modal-block,
.dark .options .item,
.dark .options {
  background-color: white !important;
  color: var(--neutral-800) !important;
}

.dark .modal-block .close,
.dark .modal-block .block,
.dark .modal-block .wrap,
.dark .modal-block .wrap-inner {
  background-color: white !important;
}

.dark .modal-block span[data-testid="block-info"] {
  color: var(--neutral-800) !important;
}

.dark .code_wrap pre {
  /* var(--code-background-fill) */
  background-color: var(--neutral-100) !important;
}

.dark .link {
  color: rgb(64, 64, 64) !important;
}
