{% extends "base.html" %}
{% block extra_styles %}
<style>
    .cadre p,
    .cadre {
        font-size: 9px !important;

    }

    .cadre {
        border-style: solid;
        border-color: var(--border-default-grey) !important;
        border-width: 0.5px;
        padding: 1em;
    }

    .cadre .texte::before {
        content: "Réponse modèle B";
        text-transform: uppercase;
        color: var(--text-label-green-tilleul-verveine);
        padding: 2px 4px;
        background-color: var(--background-contrast-green-tilleul-verveine);
        --idle: transparent;
        --hover: var(--background-contrast-green-tilleul-verveine-hover);
        --active: var(--background-contrast-green-tilleul-verveine-active);
        font-weight: 700;
    }

    legend {
        color: var(--text-mention-grey);
    }

    h5 {
        color: var(--text-action-high-blue-france) !important;
    }

    p {
        text-align: justify;
    }
</style>
{% endblock %}
{% block content %}
<main id="contenu">
    <div class="fr-container fr-mb-8w">
        <h2 class="fr-mt-8w fr-mb-4w">Le problème</h2>
        <div class="fr-grid-row fr-mb-4w fr-grid-row--gutters">
            <div class="fr-col-12 fr-col-md-6 fr-pr-8w">
                <h5>Les modèles d’IA conversationnelle respectent-ils la diversité des cultures francophones ?</h5>
                <p>Les IA conversationnelles reposent sur des grands modèles de langage (LLM) entraînés principalement
                    sur des données en anglais, ce qui crée des biais linguistiques et culturels dans les résultats
                    qu'ils produisent. </p>
                <p>Les systèmes d’IA conversationnelle donnent l’impression de parler toutes les langues mais les
                    résultats qu’ils génèrent sont parfois stéréotypés ou discriminants. </p>
                <p>Ces biais peuvent aussi se traduire par des réponses partielles voire incorrectes négligeant la
                    diversité des langues et des cultures, notamment francophones et européennes.</p>
                <p><strong>Comment réduire les biais culturels et linguistiques de ces modèles ?</strong></p>
            </div>
            <div class="fr-col-md-6 fr-col-12">
                <div class="cadre">
                    <img src="assets/example.png"
                    title="Capture d’écran de la réponse générée par un modèle au prompt suivant “Donne moi la liste des 10 films qui ont le plus influencé l’histoire du cinéma”. Seuls des films américains sont cités par le modèle."
                        alt="Impossible de donner une liste objective e           t définitive des 10 films qui ont le plus influencé l'histoire du cinéma, étant donné que l'influence peut varier en fonction des perspectives et des critères d'évaluation. Cependant, voici une liste de 10 films qui sont généralement considérés comme ayant eu un impact significatif sur l'évolution du cinéma :
                        
                            &quote;La Naissance d'une Nation&quote; (1915) de D.W. Griffith - Bien que controversé pour son contenu raciste, ce film a été une étape importante dans le développement de la narration cinématographique et de la technique cinématographique.
                            &quote;Citizen Kane&quote; (1941) d'Orson Welles - Souvent considéré comme l'un des meilleurs films de tous les temps, il a influencé la narration non linéaire et l'utilisation de l'ombre et de la lumière.
                            &quote;2001 : l'Odyssée de l'espace&quote; (1968) de Stanley Kubrick - Ce film de science-fiction a repoussé les limites de la narration visuelle et a influencé de nombreux autres films du genre.
                            &quote;Le Parrain&quote; (1972) de Francis Ford Coppola - Ce film a révolutionné le genre du film de gangsters et a influencé la façon dont les histoires de crime sont racontées à l'écran.
                            &quote;Jaws&quote; (1975) de Steven Spielberg - Ce film a lancé l'ère des blockbusters et a changé la façon dont les films sont réalisés, commercialisés et distribués.
                            &quote;Star Wars&quote; (1977) de George Lucas - Ce film de science-fiction a lancé une franchise emblématique et a influencé de nombreux autres films de science-fiction et de fantasy.
                            &quote;Taxi Driver&quote; (1976) de Martin Scorsese - Ce film a influencé la façon dont les histoires de personnages complexes et perturbés sont racontées à l'écran.
                            &quote;Pulp Fiction&quote; (1994) de Quentin Tarantino - Ce film a influencé la narration non linéaire et l'utilisation de dialogues stylisés.
                            &quote;Le Silence des Agneaux&quote; (1991) de Jonathan Demme - Ce film a influencé la façon dont les histoires de crime et de thriller sont racontées à l'écran.
                            &quote;Inception&quote; (2010) de Christopher Nolan - Ce film a influencé la façon dont les histoires complexes et les concepts scientifiques sont racontés à l'écran.
                        
                            Il est important de noter que cette liste n'est pas exhaustive et qu'il existe de nombreux autres films qui ont eu un impact significatif sur l'histoire du cinéma. "
                        class="fr-responsive-img" />
                    <!-- <div class="texte">
                        <p>Impossible de donner une liste objective et définitive des 10 films qui ont le plus influencé
                            l'histoire du cinéma, étant donné que l'influence peut varier en fonction des perspectives
                            et
                            des critères d'évaluation. Cependant, voici une liste de 10 films qui sont généralement
                            considérés comme ayant eu un impact significatif sur l'évolution du cinéma :</p>
                        <ol>
                            <li>
                                "La Naissance d'une Nation" (1915) de D.W. Griffith - Bien que controversé pour son
                                contenu
                                raciste, ce film a été une étape importante dans le développement de la narration
                                cinématographique et de la technique cinématographique.
                            </li>
                            <li>
                                "Citizen Kane" (1941) d'Orson Welles - Souvent considéré comme l'un des meilleurs films
                                de
                                tous les temps, il a influencé la narration non linéaire et l'utilisation de l'ombre et
                                de
                                la lumière.
                            </li>
                            <li>"2001 : l'Odyssée de l'espace" (1968) de Stanley Kubrick - Ce film de science-fiction a
                                repoussé les limites de la narration visuelle et a influencé de nombreux autres films du
                                genre.</li>
                            <li>"Le Parrain" (1972) de Francis Ford Coppola - Ce film a révolutionné le genre du film de
                                gangsters et a influencé la façon dont les histoires de crime sont racontées à l'écran.
                            </li>
                            <li>"Jaws" (1975) de Steven Spielberg - Ce film a lancé l'ère des blockbusters et a changé
                                la
                                façon dont les films sont réalisés, commercialisés et distribués.
                            </li>
                            <li>"Star Wars" (1977) de George Lucas - Ce film de science-fiction a lancé une franchise
                                emblématique et a influencé de nombreux autres films de science-fiction et de fantasy.
                            </li>
                            <li>
                                "Taxi Driver" (1976) de Martin Scorsese - Ce film a influencé la façon dont les
                                histoires de
                                personnages complexes et perturbés sont racontées à l'écran.
                            </li>
                            <li>"Pulp Fiction" (1994) de Quentin Tarantino - Ce film a influencé la narration non
                                linéaire
                                et l'utilisation de dialogues stylisés.
                            </li>
                            <li>"Le Silence des Agneaux" (1991) de Jonathan Demme - Ce film a influencé la façon dont
                                les
                                histoires de crime et de thriller sont racontées à l'écran.
                            </li>
                            <li>"Inception" (2010) de Christopher Nolan - Ce film a influencé la façon dont les
                                histoires
                                complexes et les concepts scientifiques sont racontés à l'écran.
                            </li>
                            </ul>
                            <p>Il est important de noter que cette liste n'est pas exhaustive et qu'il existe de
                                nombreux
                                autres films qui ont eu un impact significatif sur l'histoire du cinéma.
                            </p>
                    </div> -->
                </div>
                <legend class="fr-text--sm">Réponse d’un modèle de langue au prompt : “Donne moi la liste des 10 films
                    qui ont le plus
                    influencé l’histoire du cinéma”</legend>
            </div>
        </div>
        <div>
            <h5>L'alignement : une technique de réduction des biais qui repose sur la collecte des préférences
                d’utilisateurs</h5>
            <p>L'alignement des modèles d'IA est une <strong>méthode de réduction des biais</strong> qui consiste à
                ajuster les modèles
                pour
                qu'ils génèrent des résultats conformes à des valeurs ou des objectifs spécifiques.</p>
            <p>Ce processus repose sur des jeux de données de préférences où les utilisateurs indiquent quelle réponse
                est la
                meilleure selon des critères donnés, telles que la pertinence, l’utilité, la nocivité. Une fois
                constitués, ces
                jeux de données sont utilisés pour entrainer les modèles en les ajustant selon les préférences exprimées
                par les
                utilisateurs.</p>
            <p>Pour améliorer la représentation des cultures francophones dans les modèles, les jeux de données
                d’alignement
                doivent inclure une variété de langues, de contextes et d’exemples issus de tâches courantes des
                utilisateurs.</p>
            <p>En intégrant ces données, les modèles d’IA sont exposés à une diversité de contextes qui permet de
                réduire les
                biais et d’améliorer la pertinence des réponses générées.
                Des plateformes telles que <a href="https://chat.lmsys.org/" rel="noopener external"
                    target="_blank">chat.lmsys.org</a> permettent de constituer ces jeux de données de préférence
                mais peu d’utilisateurs s’en servent en français (moins de 1%). <strong>Ce type de jeux de données est
                    rare, voire
                    inexistant pour le français et les langues de France.</strong></p>
            <p><strong>Comment faciliter la création de jeux de données de préférence francophones pour l’alignement des
                    modèles ?</strong></p>
            <h2 class="fr-mt-8w">La solution</h2>
            <p>
                Le comparateur compar:IA est un nouvel outil qui permet de créer des jeux de données de préférence
                centrés
                sur des usages réels exprimés en français.</p>

            <p>L’application développée répond à un double objectif :</p>
            <h5 class="fr-mt-4w">1. Améliorer la qualité des modèles de langage conversationnels sur les usages
                francophones
            </h5>
            <div class="fr-highlight">
                <p>Créer un jeu de données de préférences humaines en français, et ciblé sur des tâches spécifiquement
                    liées à la langue et la culture française</p>
            </div>

            <p>L’amélioration de la qualité des modèles de langage conversationnels sur les usages francophones passe
                par la mise à disposition de jeux de données de préférence en français pour l’alignement des modèles,
                ressource actuellement rare pour l’écosystème des acteurs académiques et industriels qui travaillent sur
                ces sujets.</p>

            <p>Les données de préférence issues de la comparaison des modèles sont collectées, nettoyées et partagées:
                le jeu de données constitué est rendu accessible librement et peut être utilisé pour améliorer
                l’expression des modèles d’IA conversationnelle sur des tâches en français.</p>

            <p>Les jeux de données produits présentent plusieurs avantages :</p>

            <ul>
                <li>les jeux de données sont en français</li>
                <li>la préférence peut être exprimée de manière plus fine à travers des critères de fond, de forme et de
                    style.</li>
            </ul>

            <h5 class="fr-mt-4w">2. Faciliter l’accès aux IA génératives et encourager l’esprit critique des
                utilisateurs en rendant effectif un droit au “pluralisme des modèles”</h5>

            <p>L’accès simplifié et gratuit à une diversité de modèles d’IA conversationnelles, grands et petits,
                propriétaires et open source, permet à toutes et tous de les utiliser et de les tester. C’est une
                première étape de sensibilisation pour encourager <strong>l’appropriation responsable et
                    réfléchie</strong> de ces
                outils par les citoyens.</p>

            <p>Sensibiliser le grand public à la variété des modèles d’IA existants s’inscrit dans la défense d’un
                principe de « droit au <strong>pluralisme des modèles</strong> » dans la continuité du principe de «
                pluralisme
                effectif des algorithmes » défendu dans les recommandations des <a
                    href="https://etats-generaux-in formation.fr/" rel="noopener external" target="_blank">Etats
                    généraux
                    de l’information</a>, permettant à l’utilisateur d’exercer un choix avisé entre différents modèles,
                susceptibles d’être choisis parmi différents fournisseurs.</p>

            <p>Portée par le ministère de la Culture, et associée à différents modules de formation pédagogique (PIX,
                ministère de la Justice, association Kocoya…), cette plateforme contribue enfin à sensibiliser les
                citoyens aux <strong>biais culturels et linguistiques</strong> portés par les modèles. Pour guider
                l’exploration, nous proposons une série de tâches spécifiquement conçues pour évaluer les performances
                des modèles en matière de langues et de cultures française et francophone. Ces tâches sont accompagnées
                de suggestions de prompts que les utilisateurs peuvent adapter selon leurs besoins. En confrontant
                directement les résultats de différents modèles sur ces tâches spécifiques, les utilisateurs peuvent
                mieux comprendre les forces, les faiblesses et les limites éventuelles des systèmes.</p>
        </div>
</main>
{% endblock %}