{% extends "base.html" %}

{% block content %}
<main id="contenu">
    <div class="hero__startup fr-container-fluid fr-py-6w">
        <div class="fr-container">
            <div class="fr-grid-row fr-grid-row--gutters">
                <div class="">
                    <h1>Arène LANGU:IA</h1>

                    <p class="hero__startup__mission fr-mt-3w fr-h3">
                        L'arène LANGU:IA consiste à comparer grâce à un dispositif interactif et ludique les réponses
                        générées par différents modèles à une invite donnée. Un utilisateur pose une question en
                        français et obtient des réponses de deux LLM anonymes.
                    </p>
                    <ul class="fr-mt-3w fr-tags-group">
                        <li>
                            <a class="fr-tag" href="#">Produit en construction</a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div> <!-- 
       -->
    <div class="fr-container-fluid">
        <div class="fr-container">
            <div class="fr-py-2w fr-grid-row fr-grid-row--center fr-grid-row--gutters">
                <div class="fr-col-md-8">
                    <h3 id="le-problème">Le problème</h3>

                    <p class="fr-my-2w fr-text">Les LLM actuels sont entraînés sur des données essentiellement
                        anglo-saxonnes. Le développement extrêmement rapide des audiences et des usages de ces modèles
                        fait peser un risque sur la place des langues et des cultures française, francophone et
                        européenne dans les imaginaires collectifs de demain. En parallèle, les débats sont
                        particulièrement vifs sur le volet juridique de l’entraînement des modèles d’IA, le respect du
                        droit d’auteur et des données personnelles et la répartition de la valeur issue de leurs usages.
                    </p>

                    <p class="fr-my-2w fr-text">La question de la facilitation de l’accès aux données en français pour
                        l’entraînement des modèles est directement liée à celle de l’évaluation des modèles sur des
                        tâches en français : en quoi les données mises à disposition en français améliorent-elles les
                        performances des modèles sur des tâches données ? Comment évaluer la capacité des modèles à «
                        bien parler » français ou refléter la culture française, francophone, européenne ?</p>

                    <p class="fr-my-2w fr-text">Ces questionnements font écho à un second irritant identifié auprès des
                        fournisseurs de modèles et de services issus de ces modèles : la difficile mise en œuvre de
                        l’évaluation humaine des modèles sur des tâches en français. Cette évaluation humaine, coûteuse
                        et complexe, sur des aspects spécifiques à la culture et la langue française (ou aux langues
                        européennes) est hors de portée de la plupart des fournisseurs de modèle alors que la majorité
                        des corpus d’évaluation existants sont en anglais, présentent un risque de contamination et ne
                        sont pas toujours alignés avec les usages et attentes des utilisateurs.</p>

                    <h3 id="le-service">Le service</h3>

                    <p class="fr-my-2w fr-text">L’arène LANGU:IA, arène francophone de classement des modèles par
                        préférences humaines, consiste à comparer grâce à un dispositif interactif et ludique les
                        réponses générées par différents modèles à une invite donnée. Un utilisateur pose une question
                        en français et obtient des réponses de deux LLM anonymes. Il vote pour le modèle qui fournit la
                        réponse préférée et se voit ainsi révélée l’identité des modèles. Ce dispositif de crowdsourcing
                        inspiré de la plateforme « chatbot arena » (LMSYS) permet de constituer des jeux de données de
                        préférences humaines sur des tâches réelles, en français, utilisables pour l’alignement des
                        modèles et d’autres usages émergents. Ces jeux de données seront mis à la disposition des
                        acteurs de l’écosystème académique et industriel du TAL.</p>

                    <h3 id="la-stratégie">La stratégie</h3>

                    <p class="fr-my-2w fr-text">L’un des défis du projet est de collecter des données de préférences
                        humaines en masse suffisante et selon un dispositif qui assure la réutilisation du jeu de
                        données produit. L’arène LANGU:IA touchera ses premiers utilisateurs-évaluateurs à travers des
                        modules de formation des publics professionnels au fonctionnement et aux biais de l’IA
                        générative, intégrables dans des plateformes de formation telles que PIX et Campus numérique. La
                        construction de ce module permettra d’orienter les questions et les actions des utilisateurs de
                        telle sorte que les données de préférences collectées au cours de la session soient exploitables
                        à des fins d’alignement des modèles (enjeux spécifiques liés aux biais linguistiques,
                        culturels…).</p>

                    <p class="fr-my-2w fr-text">Ce premier produit pose les bases de services plus ambitieux de mise à
                        disposition de jeux de données francophones, identifiant la structure LANGU:IA comme tiers de
                        confiance et acteur fédérateur de l’écosystème. Les services produits par la start-up
                        s’inscrivent dans les prérogatives des établissements LANGU:IA et ALT-EDIC en cours de
                        structuration.</p>
                </div>
                <div class="fr-col-md-4">
                    <!-- INFO -->
                    <div class="fr-py-4w fr-px-4w fr-mt-3w"
                        style="border: 1px solid var(--light-border-default-grey, #E5E5E5);">
                        <p>

                            <b>Arène LANGU:IA</b> est portée par l'Atelier Numérique du Ministère
                                de la Culture.

                        </p>
                        <p>

                            <a class="fr-link"
                                href="mailto:lucie.termignon@culture.gouv.fr?subject=Ar%C3%A8ne%20LANGU:IA%20sur%20beta.gouv.fr">Contacter
                                l'équipe</a>.

                        </p>

                    </div>
                </div>
            </div>

            <h2>En quelques dates</h2>
            <div class="startup-timeline">
                <div class="active"><b>Investigation</b><br>15 janvier 2024</div>
                <div class="active"><b>Construction</b><br>15 avril 2024</div>
            </div>

        </div>
    </div>

</main>
{% endblock %}