<!doctype html>
<html lang="fr" data-fr-scheme="system">
<!-- Git commit: {{ config.git_commit|default(" ") }} -->

<head>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no,date=no,address=no,email=no,url=no">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="assets/dsfr/dsfr.min.css">
    <meta name="theme-color" content="#6a6af4"><!-- Défini la couleur de thème du navigateur (Safari/Android) -->
    <link rel="apple-touch-icon" href="assets/dsfr/favicon/apple-touch-icon.png"><!-- 180×180 -->
    <link rel="icon" href="assets/dsfr/favicon/favicon.svg" type="image/svg+xml">
    <link rel="shortcut icon" href="assets/dsfr/favicon/favicon.ico" type="image/x-icon"><!-- 32×32 -->
    <link rel="manifest" href="assets/dsfr/favicon/manifest.webmanifest" crossorigin="use-credentials">
    <!-- Dans le fichier manifest.webmanifest aussi, modifier les chemins vers les images -->
    <title>{{ title|default("") }}{% if title %} - {% endif %}compar:IA, le comparateur d'IA conversationnelles</title>
    {{ config.site_head_js | safe }}
    <link rel="stylesheet" href="assets/custom-site.css">

    <link rel="stylesheet" href="assets/dsfr/utility/icons/icons-design/icons-design.css">
    {% block extra_styles %}
    {% endblock %}
    <meta name="google-site-verification" content="1xrdIzQy45wIoAeeNvpRb9l8s_k5DjzMtrvbOzx6wMQ" />

    <meta property="og:title" content="{{ title|default("") }}{% if title %} - {% endif %}compar:IA, le comparateur d'IA conversationnelles">
    <meta property="og:type" content="website">
    <meta property="og:locale" content="fr_FR">
    <meta property="og:description"
        content="compar:IA est un outil permettant de comparer à l’aveugle différents modèles d'IA conversationnelle pour sensibiliser aux enjeux de l'IA générative (biais, impact environmental) et constituer des jeux de données de préférence en français.">
    <meta property="og:image" content="https://www.comparia.beta.gouv.fr/assets/thumbnail-comparia.png">

</head>

<body>
    {% include 'header-main.html' %}
    {% include 'gauge.html' %}

    {% block content %}
    {% endblock %}

    {% include 'footer.html' %}
</body>

</html>