<!doctype html>
<html lang="fr" data-fr-scheme="system">
<!-- {{ config.git_commit|default(" ") }} -->
<head>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no,date=no,address=no,email=no,url=no">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="assets/dsfr/dsfr.min.css">
    <meta name="theme-color" content="#000091"><!-- Défini la couleur de thème du navigateur (Safari/Android) -->
    <link rel="apple-touch-icon" href="assets/dsfr/favicon/apple-touch-icon.png"><!-- 180×180 -->
    <link rel="icon" href="assets/dsfr/favicon/favicon.svg" type="image/svg+xml">
    <link rel="shortcut icon" href="assets/dsfr/favicon/favicon.ico" type="image/x-icon"><!-- 32×32 -->
    <link rel="manifest" href="assets/dsfr/favicon/manifest.webmanifest" crossorigin="use-credentials">
    <!-- Dans le fichier manifest.webmanifest aussi, modifier les chemins vers les images -->
    <!-- TODO: make extensive block -->
    <title>LANGU:IA</title>
    {{ config.site_head_js | safe }}
    {% block extra_styles %}
    {% endblock %}
</head>     

<body>
    {% include 'header-main.html' %}

    {% block content %}
    {% endblock %}
    
    {% include 'footer.html' %}
</body>

</html>