<!doctype html>
<html lang="fr" data-fr-scheme="system">

<head>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no,date=no,address=no,email=no,url=no">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="assets/dsfr/dsfr.min.css">
    <meta name="theme-color" content="#000091"><!-- Défini la couleur de thème du navigateur (Safari/Android) -->
    <link rel="apple-touch-icon" href="favicon/apple-touch-icon.png"><!-- 180×180 -->
    <link rel="icon" href="favicon/favicon.svg" type="image/svg+xml">
    <link rel="shortcut icon" href="favicon/favicon.ico" type="image/x-icon"><!-- 32×32 -->
    <link rel="manifest" href="favicon/manifest.webmanifest" crossorigin="use-credentials">
    <!-- Modifier les chemins relatifs des favicons en fonction de la structure du projet -->
    <!-- Dans le fichier manifest.webmanifest aussi, modifier les chemins vers les images -->
    <title>Titre de la page - Nom du site</title>
    <script type="text/javascript">

    {{ config.head_js }}

    </script>
</head>

<body>
    <!-- Script en version es6 module et nomodule pour les navigateurs le ne supportant pas -->
    <script type="module" src="assets/dsfr/dsfr.module.min.js"></script>
    <script type="text/javascript" nomodule src="assets/dsfr/dsfr.nomodule.min.js"></script>
    
{% include 'header-main.html' %}
<main id="content" role="main">

    <div class="fr-container">

        {% block content %}
        {% endblock %}
    </div>
</main>

    <footer id="footer" class="fr-footer" role="contentinfo"></footer>
</body>

</html>
