
<div id="feedback-row">
    <div class="fr-container text-center fr-mb-4w">
        <h4 class="text-center fr-mt-8w fr-mb-1v">Merci pour votre contribution</h4>
        <p class="text-center text-grey fr-text--sm">Le jeu de données compar:IA sera bientôt publié, continuez à
            l’alimenter en recommençant l’expérience !
        </p>
        <a class="btn purple-btn fr-my-2w" href="../arene/?cgu_acceptees" target="_blank">Discuter avec deux nouvelles
            IA</a><br />
            <a class="btn purple-btn fr-my-2w" href="../share?i={{b64}}" target="_blank">Partager</a>
            <br />
        <a class="fr-mx-auto link"
            href="https://languia-metabase.stg.cloud.culture.fr/public/dashboard/7dde3be2-6680-49ac-966b-ade9ad36dfcf?tab=29-tableau-1"
            target="_blank">En savoir plus sur les votes</a>
    </div>
</div>