<div id="feedback-row">
    <div class="fr-container text-center fr-mb-4w">
        <h4 class="text-center fr-mt-8w fr-mb-1v">Merci pour votre contribution</h4>
        <p class="text-center text-grey fr-text--sm">Le jeu de données compar:IA sera bientôt publié, continuez à
            l’alimenter en recommençant l’expérience !
        </p>
        <a class="btn purple-btn fr-my-2w" href="../arene/?cgu_acceptees" target="_blank">Discuter avec deux nouvelles
            IA</a><br />
        <button class="btn fr-btn--secondary fr-my-2w" data-fr-opened="false"
            aria-controls="share-modal"><svg width="21" height="20" viewBox="0 0 21 20" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M10.5 2.15479L15.6726 7.32737L14.4941 8.50585L11.3333 5.34513V13.3333H9.66667V5.34513L6.50592 8.50585L5.32741 7.32737L10.5 2.15479ZM3 14.9999V11.6666H4.66667V14.9999C4.66667 15.4602 5.03977 15.8333 5.5 15.8333H15.5C15.9602 15.8333 16.3333 15.4602 16.3333 14.9999V11.6666H18V14.9999C18 16.3807 16.8807 17.4999 15.5 17.4999H5.5C4.11929 17.4999 3 16.3807 3 14.9999Z"
                    fill="#6A6AF4" />
            </svg>&nbsp;Partager le résultat</button><br />
        <a class="fr-mx-auto link"
            href="https://languia-metabase.stg.cloud.culture.fr/public/dashboard/7dde3be2-6680-49ac-966b-ade9ad36dfcf?tab=29-tableau-1"
            target="_blank">En savoir plus sur les votes</a>
    </div>
</div>
<script>

    function copy() {
        // Get the text field
        var copyText = document.getElementById("share-link");
        // Select the text field
        copyText.select();
        copyText.setSelectionRange(0, 99999); // For mobile devices

        // Copy the text inside the text field
        navigator.clipboard.writeText(copyText.value);
    }
</script>

<dialog aria-labelledby="fr-modal-title-share-modal" role="dialog" id="share-modal" class="fr-modal">
    <div class="fr-container fr-container--fluid fr-container-md">
        <div class="fr-grid-row fr-grid-row--center">
            <div class="fr-col-12 fr-col-md-8 fr-col-lg-6">
                <div class="fr-modal__body">
                    <div class="fr-modal__header">
                        <button class="fr-btn--close fr-btn" title="Fermer la fenêtre modale"
                            aria-controls="share-modal">Fermer</button>
                    </div>
                    <div class="fr-modal__content">
                        <h6>Partagez votre résultat</h6>
                        <p>Faites découvrir compar:IA en partageant les modèles d’IA avec lesquels vous avez échangé !
                            Seuls les noms et l’impact énergétique de la discussion seront visibles via ce lien, sans
                            accès aux messages échangés.</p>
                        <div class="fr-grid-row fr-mb-4w"><input type="text" id="share-link" class="fr-col-md-8 fr-col-12 fr-input inline"
                                value="https://www.comparia.beta.gouv.fr/share?i={{b64}}" />
                                <button
                                class="fr-col-md-4 fr-col-12 btn purple-btn block" onclick="copy()"><svg width="15" height="16" viewBox="0 0 15 16"
                                    fill="none" xmlns="http://www.w3.org/2000/svg" class="inline">
                                    <path
                                        d="M8.29571 5.08317L9.35636 6.14383C11.4066 8.19412 11.4066 11.5182 9.35636 13.5685L9.09124 13.8336C7.04096 15.8839 3.71685 15.8839 1.6666 13.8336C-0.383657 11.7834 -0.383657 8.45924 1.6666 6.409L2.72726 7.46969C1.2628 8.93414 1.2628 11.3085 2.72726 12.7729C4.19173 14.2374 6.56606 14.2374 8.03059 12.7729L8.29571 12.5078C9.76016 11.0433 9.76016 8.66894 8.29571 7.20449L7.23506 6.14383L8.29571 5.08317ZM13.3338 9.59099L12.2732 8.53034C13.7376 7.06582 13.7376 4.69148 12.2732 3.22702C10.8087 1.76255 8.43439 1.76255 6.96994 3.22702L6.70474 3.49218C5.24027 4.95664 5.24027 7.33102 6.70474 8.79547L7.76539 9.85612L6.70474 10.9168L5.64407 9.85612C3.59382 7.80592 3.59382 4.48177 5.64407 2.43152L5.90924 2.16635C7.95949 0.116099 11.2836 0.116099 13.3338 2.16635C15.3841 4.2166 15.3841 7.54072 13.3338 9.59099Z"
                                        fill="white" />
                                </svg>&nbsp;Copier le lien</button>
                        </div>
                        <img class="fr-responsive-img" src="assets/share-example.png" alt="Exemple de partage de résultat" title="Exemple de partage de résultat" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</dialog>