<script language="javascript" type="text/javascript"
    src="https://public.message-business.com/Javascript/form/form.js?v=20231222"></script>
<form name="mbform" method="POST" action="https://infolettres.duministeredelaculture.fr/form/65547/40/form.aspx">
    <div class="mb-e-f-addable duplicate-disabled" data-block-type="form-error" data-block-version="1">
        <table border="0" cellpadding="0" cellspacing="0" data-style-width="100%" data-style-width-type="30"
            data-parameter-responsiveblockwidth="100%" data-parameter-responsiveblockwidth-type="30"
            data-parameter-responsivedisplay="all" data-parameter-responsivedisplay-type="30"
            data-setting-accountoperationattributetype_formmessageerror="Veuillez revoir les informations surlignées en rouge ci-dessus avant de valider ce formulaire"
            data-setting-accountoperationattributetype_formmessageerror-type="30"
            data-setting-accountoperationattributetype_formmessageaccessneeded="Formulaire actuellement Indisponible"
            data-setting-accountoperationattributetype_formmessageaccessneeded-type="30"
            data-setting-accountoperationattributetype_formmessageaccessdenied="Accès réservé, veuillez nous contacter pour accèder à ce formulaire"
            data-setting-accountoperationattributetype_formmessageaccessdenied-type="30"
            data-setting-accountoperationattributetype_formmessageunavailable="Désolé, l'accès n'est pas autorisé"
            data-setting-accountoperationattributetype_formmessageunavailable-type="30" width="100%"
            style="width: 100%;" class="resBW-p100">
            <div class="formErrorMessage">
                                    <!-- PLACEHOLDER_ERROR -->
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="mb-e-f-addable mb-e-f-addable-hidden duplicate-disabled" data-block-type="form-success"
        data-block-version="1">
        <!-- PLACEHOLDER_SUCCESS_START -->
        <div style="display:none;">
            <div data-setting-accountoperationattributetype_formsubmissioncontent="Vos informations sont enregistrées. Nous vous remercions de votre participation."
                data-setting-accountoperationattributetype_formsubmissioncontent-type="30" style="width: 90%;"
                class="resBW-p100">
                <!-- PLACEHOLDER_SUCCESS_CONTENT -->
            </div>
        </div><!-- PLACEHOLDER_SUCCESS_END -->
    </div>
    <div data-style-font-family="Arial,Helvetica,sans-serif" data-style-font-family-type="30"
        data-contentparameter-basefield="{&quot;type&quot;:&quot;email&quot;,&quot;typeId&quot;:&quot;&quot;,&quot;typeName&quot;:&quot;email&quot;,&quot;typeNamelabel&quot;:&quot;Adresse Email&quot;,&quot;typeFormatDetails&quot;:&quot;undefined&quot;,&quot;typeFormatDetails2&quot;:&quot;&quot;,&quot;typeGroup&quot;:&quot;default&quot;,&quot;required&quot;:false,&quot;hidden&quot;:false,&quot;mode&quot;:&quot;modedropdownlist&quot;,&quot;lines&quot;:1,&quot;label&quot;:&quot;Adresse Email&quot;,&quot;placeholder&quot;:&quot;&quot;,&quot;defaultValue&quot;:&quot;&quot;,&quot;allValues&quot;:false,&quot;values&quot;:[],&quot;values2&quot;:[]}"
        data-contentparameter-basefield-type="50" style="font-family: Arial, Helvetica, sans-serif;">
        <div class="formText formText-email"
            id="divItem-{{fieldpageindex_e_IP4N554NK9226WC}}-{{fielddivindex_e_hIBRWWBGRmOAALq}}">
            <div class="formTextLabel" id="labelOf-formItem-mbtext-email">
                <label for="formItem-mbtext-email">Adresse
                    Email</label>
            </div>
            <input type="hidden" name="nameOf-formItem-mbtext-email" value="Adresse Email">
            <div class="formTextInput">
                <input type="text" id="formItem-mbtext-email" name="formItem-mbtext-email" value=""
                    data-value="**MBV_EMAIL**" placeholder="">
            </div>
            <div class="mb-e-f-addable duplicate-disabled" data-block-type="form-submitbutton" data-block-version="1">
                <input type="submit" value="Valider le formulaire"
                    data-contentparameter-formsubmit="Valider le formulaire" data-contentparameter-formsubmit-type="30"
                    onclick="javascript:scriptOnSubmit();">
            </div>

            <input type="hidden" name="status" id="status" value="submit">
            <input type="hidden" name="accountidhidden" id="accountidhidden" value="65547">
</form>