<form id="newletter" name="mbform" method="POST" target="_blank"
    action="https://infolettres.duministeredelaculture.fr/form/65547/40/form.aspx" class="flex align-center h-full">
    <div id="newsletter-error"></div>
    <input type="email" class="fr-input" id="formItem-mbtext-email" name="formItem-mbtext-email" value=""
        data-value="**MBV_EMAIL**" placeholder="Votre adresse électronique"><input type="hidden"
        name="required-formItem-mbtext-email" value="true"><input class="fr-btn purple-btn" type="submit"
        value="S’abonner" data-contentparameter-formsubmit="S’abonner" data-contentparameter-formsubmit-type="50"
        data-parameter-responsivefont-size="" data-parameter-responsivefont-size-type="30"
        data-parameter-responsiveline-height="" data-parameter-responsiveline-height-type="30">
    <input type="hidden" name="status" id="status" value="submit">
    <input type="hidden" name="accountidhidden" id="accountidhidden" value="65547">
</form>
<script language="javascript" type="text/javascript">
    document.getElementById('newletter').addEventListener('submit', function (event) {
        event.preventDefault(); // Prevent the default form submission

        // Get form and response elements
        const form = event.target;
        const responseDiv = document.getElementById('newsletter-error');

        // Create a new XMLHttpRequest object
        const xhr = new XMLHttpRequest();

        // Set up the request
        xhr.open('POST', form.action, true);
        xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');

        // Prepare the form data
        const formData = new FormData(form);
        const params = new URLSearchParams(formData).toString();

        // Define the callback for when the request is completed
        xhr.onload = function () {
            if (xhr.status >= 200 && xhr.status < 300) {
                const parser = new DOMParser();
                const doc = parser.parseFromString(xhr.responseText, 'text/html');
                const completedDiv = doc.querySelector('.formCompleted');
                if (completedDiv) {
                    responseDiv.textContent = "Merci, votre inscription à la newsletter a été prise en compte."; // Show response on the page
                } else {
                    responseDiv.textContent = "Erreur lors de l'inscription à la newsletter."; // Default behavior if .formCompleted not found
                }
            } else {
                responseDiv.textContent = `Erreur : ${xhr.status} ${xhr.statusText}`;
            }
        };

        // Handle errors
        xhr.onerror = function () {
            responseDiv.textContent = 'Echec de l\'inscription.';
        };

        // Send the request
        xhr.send(params);
    });
</script>