<header id="header-navigation" role="banner" class="fr-header">
  <div class="fr-header__body">
    <div class="fr-container">
      <div class="fr-header__body-row fr-grid-row">
        <div class="fr-header__brand fr-enlarge-link fr-col-12 fr-col-lg-8">
          <div class="fr-header__brand-top">
            <div class="fr-header__logo">
              <p class="fr-logo">
                République
                <br>Française
              </p>
            </div>
          </div>
          <div class="fr-header__service">
            <a href="/" title="Accueil - LANGU:IA">
              <p class="fr-header__service-title">LANGU:IA
                <span class="fr-badge fr-badge--success fr-badge--no-icon">Beta</span>
              </p>
            </a>

            <p class="fr-header__service-tagline">L'arène francophone de comparaison de modèles conversationnels</p>
          </div>

        </div>
        <div class="fr-header__tools fr-col-12 fr-col-lg-4 fr-p-2w">
          <a title="Donner mon avis sur l'arène - ouvre une nouvelle fenêtre" href="https://adtk8x51mbw.eu.typeform.com/to/kiPl3JAL"
            target="_blank" rel="noopener external" class="fr-link fr-link--icon-right">Donner mon avis</a>
        </div>
      </div>
    </div>
  </div>
  <div class="fr-header__menu">
  <!-- <div id="modal-header__menu" aria-labelledby="button-861" class="fr-header__menu fr-modal" data-fr-js-modal="true"
    data-fr-js-header-modal="true"> -->
    <div class="fr-container">
      <nav role="navigation" aria-label="Menu principal" class="fr-nav" data-fr-js-navigation="true">
        <ul class="fr-nav__list">
          <li class="fr-nav__item" data-fr-js-navigation-item="true"><a {% if request["path"] == "/" %}aria-current="true"{% endif %} href="/" target="_self"
              aria-controls="modal-header__menu" class="fr-nav__link" data-fr-js-modal-button="true">Accueil</a></li>
          <li class="fr-nav__item" data-fr-js-navigation-item="true"><a href="/arene" target="_self"
              aria-controls="modal-header__menu" class="fr-nav__link" data-fr-js-modal-button="true">Nouvelle
              conversation</a></li>
          <li class="fr-nav__item" data-fr-js-navigation-item="true"><a {% if request["path"] == "/modeles" %}aria-current="true"{% endif %} href="/modeles" target="_self"
              aria-controls="modal-header__menu" class="fr-nav__link" data-fr-js-modal-button="true">Liste des
              modèles</a></li>
          <li class="fr-nav__item" data-fr-js-navigation-item="true"><a {% if request["path"] == "/a-propos" %}aria-current="true"{% endif %} href="/a-propos"
              target="_self" aria-controls="modal-header__menu" class="fr-nav__link" data-fr-js-modal-button="true">À
              propos</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>