<header role="banner" class="fr-header">
  <div class="fr-header__body">
    <div class="fr-container">
      <div class="fr-header__body-row fr-grid-row">
        <div class="fr-header__brand fr-enlarge-link">
          <div class="fr-col-4">
            <div class="fr-header__logo">
              <p class="fr-logo">
                République
                <br>Française
              </p>
            </div>
          </div>
          <div class="fr-col-6 fr-col-lg-12">
            <a href="/" title="Accueil - compar:IA" target="_blank">
              <p class="fr-header__service-title">compar:IA
              </p>
            </a>

            <span class="fr-header__service-tagline">Le comparateur d'IA&nbsp;conversationnelles</span>
          </div>
        </div>
        <div class="hidden md-visible fr-header__tools fr-col-12 fr-col-lg-4 fr-p-2w">
          <a title="Donner mon avis sur le comparateur - ouvre une nouvelle fenêtre"
            href="https://adtk8x51mbw.eu.typeform.com/to/duuGRyEX" target="_blank" rel="noopener external"
            class="fr-link fr-icon-pencil-line fr-link--icon-left">Nous aider à améliorer compar:IA</a>
        </div>
        <button 
                      onclick="window.location.href='/login'">
          <span style="position: absolute; right: 0; top: 50%; transform: translateY(-50%);"></span>
          <img src="/assets/cta-ProConnect-disconnected.svg" alt="Votre logo" style="height: 40px;" />
        </button>
      </div>
      <!-- <p>
          <a href="https://www.proconnect.gouv.fr/" target="_blank" rel="noopener" title="Qu'est-ce que ProConnect ? - nouvelle fenêtre">
              Qu'est-ce que ProConnect ?
          </a>
      </p> -->
<!-- </div> -->
<!-- </div> -->
</header>