<header id="header-navigation" role="banner" class="fr-header">
  <div class="fr-header__body">
    <div class="fr-container">
      <div class="fr-header__body-row fr-grid-row">
        <div class="fr-header__brand fr-enlarge-link">
          <div class="fr-col-4">
            <div class="fr-header__logo">
              <p class="fr-logo">
                République
                <br>Française
              </p>
            </div>
          </div>
          <div class="fr-col-6 fr-col-lg-12">
            <a href="/" title="Accueil - compar:IA">
              <p class="fr-header__service-title">compar:IA
                <span class="fr-badge fr-badge--success fr-badge--no-icon">Beta</span>
              </p>
            </a>

            <p class="fr-header__service-tagline">Le comparateur d’IA&nbsp;conversationnelles</p>
          </div>
          <div class="fr-header__navbar fr-col-2">
            <button class="fr-btn fr-btn--menu" data-fr-opened="false" aria-controls="fr-modal-menu" aria-haspopup="menu"
              title="Menu"> Menu</button>
          </div>
        </div>

        <div class="hidden md-visible fr-header__tools fr-col-12 fr-col-lg-4 fr-p-2w">
          <a title="Donner mon avis sur le comparateur - ouvre une nouvelle fenêtre"
            href="https://adtk8x51mbw.eu.typeform.com/to/duuGRyEX" target="_blank" rel="noopener external"
            class="fr-link fr-icon-pencil-line fr-link--icon-left">Nous aider à améliorer compar:IA</a>
        </div>
      </div>
    </div>
  </div>

  <div aria-labelledby="fr-modal-title-modal-menu" role="dialog" id="fr-modal-menu" class="fr-modal fr-header__menu">
    <div class="fr-container-md fr-container--fluid">
      <button class="fr-btn--close fr-btn fr-p-4w" title="Fermer la fenêtre modale" aria-controls="fr-modal-menu">Fermer</button>
      <a title="Donner mon avis sur le comparateur - ouvre une nouvelle fenêtre"
        href="https://adtk8x51mbw.eu.typeform.com/to/duuGRyEX" target="_blank" rel="noopener external"
        class="md-hidden help-us-mobile fr-link fr-icon-pencil-line fr-link--icon-left fr-px-2w fr-pb-4w">Nous aider à améliorer compar:IA</a>
      <nav role="navigation" aria-label="Menu principal" class="fr-nav fr-px-2w fr-px-md-0" data-fr-js-navigation="true">
        <ul class="fr-nav__list fr-container">
          <li class="fr-nav__item" data-fr-js-navigation-item="true"><a {% if request["path"]=="/" %}aria-current="true"
              {% endif %} href="/" target="_self" aria-controls="modal-header__menu" class="fr-nav__link"
              data-fr-js-modal-button="true">Accueil</a></li>

          <li class="fr-nav__item" data-fr-js-navigation-item="true"><a {% if request["path"]=="/modeles"
              %}aria-current="true" {% endif %} href="/modeles" target="_self" aria-controls="modal-header__menu"
              class="fr-nav__link" data-fr-js-modal-button="true">Liste des
              modèles d'IA</a></li>
          <li class="fr-nav__item" data-fr-js-navigation-item="true"><a {% if request["path"]=="/a-propos"
              %}aria-current="true" {% endif %} href="/a-propos" target="_self" aria-controls="modal-header__menu"
              class="fr-nav__link" data-fr-js-modal-button="true">À
              propos</a></li>
          <li class="fr-nav__item" data-fr-js-navigation-item="true"><a {% if request["path"]=="/partenaires"
              %}aria-current="true" {% endif %} href="/partenaires" target="_self" aria-controls="modal-header__menu"
              class="fr-nav__link" data-fr-js-modal-button="true">Partenaires</a>
          </li>
          <li class="fr-nav__item" data-fr-js-navigation-item="true"><a {% if request["path"]=="/faq"
              %}aria-current="true" {% endif %} href="/faq" target="_self" aria-controls="modal-header__menu"
              class="fr-nav__link" data-fr-js-modal-button="true">FAQ</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>