<header role="banner" class="fr-header">
  <div class="fr-header__body">
    <div class="fr-container">
      <div class="fr-header__body-row fr-grid-row">
        <div class="fr-header__brand fr-enlarge-link fr-col-12 fr-col-lg-8">
          <div class="fr-header__brand-top">
            <div class="fr-header__logo">
              <p class="fr-logo">
                République
                <br>Française
              </p>
            </div>
          </div>
          <div class="fr-header__service">
            <!-- <a href="/" title="Accueil - LANGU:IA"> -->
            <p class="fr-header__service-title">LANGU:IA
              <span class="fr-badge fr-badge--success fr-badge--no-icon">Beta</span>
            </p>
            <!-- </a>  -->

            <p class="fr-header__service-tagline">L'arène francophone de comparaison de modèles conversationnels</p>
          </div>

        </div>
        <div class="fr-header__tools fr-col-12 fr-col-lg-4 fr-p-2w fr-p-md-0">
          <a title="Retour à l'accueil" href="/" class="fr-link fr-link--icon-left fr-icon-home-4-line">Accueil</a>
          <!-- <a title="À propos - ouvre une nouvelle fenêtre" href="https://beta.gouv.fr/startups/languia.html" target="_blank" rel="noopener external" class="fr-link fr-link--icon-right">À propos</a> -->
        </div>
      </div>
    </div>
  </div>

</header>