{% extends "base.html" %}

{% block extra_styles %}
<style>
    .fr-checkbox-group input[type=checkbox]+label:before {
        --border-action-high-blue-france: var(--blue-france-main-525);
    }

    .fr-checkbox-group input[type=checkbox]:checked+label:before {

        --border-active-blue-france: var(--blue-france-main-525);
        background-color: var(--blue-france-main-525);
    }


    .fr-icon-check-line::before,
    .fr-icon-check-line::after {
        -webkit-mask-image: url("assets/dsfr/icons/system/check-line.svg");
        mask-image: url("assets/dsfr/icons/system/check-line.svg");
        background-color: var(--blue-france-main-525);
    }


    .bg-blue {
        /* --background-contrast-info: var(--info-950-100); */
        /* background-color: var(--background-contrast-info); */
        background-color: var(--blue-france-975-75);
    }

    .bg-light-blue {
        --blue-france-main-525-hover: #9898F8;
        --blue-france-main-525-active: #AEAEF9;
        --hover: var(--blue-france-main-525-hover);
        --active: var(--blue-france-main-525-active);
        background-color: var(--blue-france-main-525);
    }

    .flex {
        display: flex;
    }

    .inline-block {
        display: inline-block;
    }

    .text-center {
        text-align: center;
    }

    .text-blue {
        color: var(--text-action-high-blue-france);
        /* --text-action-high-blue-france: var(--blue-france-sun-113-625); */

        /* color: var(--text-action-high-blue-france) !important; */
    }
</style>
{% endblock %}

{% block content %}
<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function () {
        function validateAndRedirect() {
            const acceptTosCheckbox = document.getElementById('accept_tos');
            const startArenaBtn = document.getElementById('start_arena_btn');
            const errorMessage = document.getElementById('checkbox-error-messages');

            startArenaBtn.addEventListener('click', function (event) {
                if (acceptTosCheckbox.checked) {
                    window.location.href = '/arene/?cgu_acceptees';
                } else {
                    event.preventDefault();

                    acceptTosCheckbox.parentNode.classList.add('fr-checkbox-group--error');

                    errorMessage.classList.remove('fr-hidden');
                    // WIP
                    // acceptTosCheckbox.classList.add('input-error');
                    // const warningDiv = document.createElement('div');
                    // warningDiv.classList.add('fr-warn');
                    // warningDiv.textContent = 'Vous devez accepter les conditions pour continuer';
                    // acceptTosCheckbox.parentNode.appendChild(warningDiv);
                }
            });
        }

        validateAndRedirect();
    });
</script>

<main id="content" role="main" class="fr-mb-7w fr-mb-md-10w fr-mt-8w">
    <div class="fr-grid-row fr-container fr-mb-4w">
        <div class="fr-container fr-col-md-6 fr-grid-row">
            <h1 class="text-blue">Ne vous fiez pas<br />aux réponses<br />d’une seule IA</h1>
            <p>Discutez avec deux IA à l’aveugle<br />pour croiser leurs réponses</p>
            <div class="fr-checkbox-group fr-checkbox-group--sm fr-mt-3w fr-mb-1w">
                <input aria-describedby="checkbox-error-messages" id="accept_tos" type="checkbox">
                <label class="fr-label fr-text--sm" for="accept_tos">
                    J'accepte les&nbsp;<a href="/modalites" target="_blank">modalités d'utilisation</a>
                    <p class="fr-message">Les données sont partagées à des fins de recherche</p>
                </label>
                <div class="fr-messages-group fr-hidden" id="checkbox-error-messages" aria-live="assertive">
                    <p class="fr-message fr-message--error" id="checkbox-error-message-error">Vous devez accepter les
                        modalités d'utilisation pour continuer
                    </p>
                </div>
            </div>
            <input type="submit" id="start_arena_btn" class="fr-btn fr-btn--lg bg-light-blue fr-col-11"
                value="Commencer à discuter" />
            </fieldset>
        </div>
        <div class="fr-container fr-col-md-6 bg-blue fr-p-4w">
            <h5 class="text-blue">Comment ça marche ?</h5>
            <!-- <ol>
                <li>
                    <h6>Je discute avec deux IA anonymes</h6>
                    <p>Échangez aussi longtemps que vous le souhaitez</p>
                </li>
                <li>
                    <h6>Je donne mon avis</h6>
                    <p>Vous contribuez ainsi à l'amélioration des modèles d’IA</p>
                </li>
                <li>
                    <h6>Les modèles sont démasqués !</h6>
                    </p>Apprenez en plus sur les modèles d’IA et leurs caractéristiques</p>
                </li>
            </ol> -->
            <!-- <img src="assets/how.svg"
                alt="1. Je discute avec deux IA anonymes : Échangez aussi longtemps que vous le souhaitez 2. Je donne mon avis : Vous contribuez ainsi à l'amélioration des modèles d’IA 3. Les modèles sont démasqués ! Apprenez en plus sur les modèles d’IA et leurs caractéristiques"
                id="how" class="fr-responsive-img" /> -->
            <svg class="fr-responsive-img" width="513" height="287" viewBox="0 0 513 287" fill="none" version="1.1"
                id="comment-ca-marche" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg">
                <style>
                    @media (prefers-color-scheme: dark) {
                        text {
                            fill: white;
                        }
                
                        #path7 {
                            stroke: white;
                        }
                    }

                    .text-style-1 {
                        font-family: 'Marianne';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 18px;
                        line-height: 28px;
                        color: #161616;
                    }

                    .text-style-2 {
                        font-family: 'Marianne';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 24px;
                        color: #666666;
                    }

                    @font-face {
                        font-family:
                            Marianne;
                        src:
                            url("assets/dsfr/fonts/Marianne-Regular.woff2") format("woff2");
                        font-weight:
                            400;
                        font-style:
                            normal;
                        font-display:
                            swap;
                    }
                </style>
                <path d="M21.56 28.96V6.52L15.76 9.8L13.08 5.96L21.72 0.959999H26.96V28.96H21.56Z" fill="#6A6AF4" />
                <path
                    d="M270.32 122V117.12L279.92 107.68C282.08 105.48 283.44 103.96 283.44 101.68C283.44 99.36 281.84 98 279.64 98C276.96 98 275.32 99.64 273.84 102.12L269.44 99.44C271.8 95.6 275.28 93.2 280.16 93.2C285.04 93.2 288.96 96.32 288.96 101.12C288.96 104.96 286.44 107.92 283.68 110.6L276.92 117.12H289.68V122H270.32Z"
                    fill="#6A6AF4" />
                <path
                    d="M138.04 235C138.04 240.32 133.68 243.8 127.84 243.8C122.56 243.8 119.16 241.48 116.88 237.48L121.6 234.56C123.16 237.64 125.04 239 127.8 239C130.52 239 132.56 237.36 132.56 234.76C132.56 232.2 130.56 230.6 127.6 230.6H123V225.8H127.24C129.6 225.8 131.32 224.48 131.32 222.32C131.32 220.2 129.72 219 127.52 219C125.28 219 123.76 220.2 122.6 222.2L118.2 219.48C120.24 216.16 123.4 214.2 127.92 214.2C133.04 214.2 136.84 217.12 136.84 221.72C136.84 224.32 135.72 226.52 133.64 227.96C136.48 229.4 138.04 231.92 138.04 235Z"
                    fill="#6A6AF4" />
                <path d="m 6,21.5 c 1.97844,129.342 213.429,38.6375 252,85 38.571,46.362 -185.2601,50.665 -152,117.5"
                    stroke="#000000" id="path7" />
                <circle cx="5.5" cy="18.5" r="5.5" fill="#6a6af4" id="circle7" />
                <circle cx="258.5" cy="107.5" r="5.5" fill="#6a6af4" id="circle8" />
                <circle cx="105.5" cy="225.5" r="5.5" fill="#6a6af4" id="circle9" />

                <text x="298.69144" y="102.10426" font-family="Marianne" font-size="18px" font-weight="700"
                    fill="#161616" text-anchor="start" dominant-baseline="central"
                    style="font-style:normal;line-height:28px" id="text1">Je donne mon
                    avis</text>
                <text x="146.80658" y="222.71048" font-family="Marianne" font-size="18px" font-weight="700"
                    fill="#161616" text-anchor="start" dominant-baseline="central"
                    style="font-style:normal;line-height:28px" id="text2">Les modèles
                    sont démasqués !</text>
                <text x="39.528667" y="9.3315382" font-family="Marianne" font-size="18px" font-weight="700"
                    fill="#161616" text-anchor="start" dominant-baseline="central"
                    style="font-style:normal;line-height:28px" id="text3">Je discute
                    avec deux IA anonymes</text>
                <text x="299.24356" y="128" font-family="Marianne" font-size="14px" font-weight="400" fill="#666666"
                    text-anchor="start" dominant-baseline="central" style="font-style:normal;line-height:24px"
                    id="text4">
                    <tspan>Vous
                        contribuez ainsi à</tspan>
                    <tspan id="tspan10" x="299.25146" y="154.04274"
                        style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:14px;font-family:Marianne;-inkscape-font-specification:Marianne">
                        l'amélioration des modèles d’IA</tspan>
                </text>
                <text x="146.46295" y="248.50197" font-family="Marianne" font-size="14px" font-weight="400"
                    fill="#666666" text-anchor="start" dominant-baseline="central"
                    style="font-style:normal;line-height:24px" id="text5">
                    <tspan>Apprenez en
                        plus sur les modèles</tspan>
                    <tspan id="tspan11" x="146.52148" y="275.85373"
                        style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:14px;font-family:Marianne;-inkscape-font-specification:Marianne">
                        d’IA et leurs caractéristiques</tspan>
                </text>
                <text xml:space="preserve" style="font-size:14px;fill:#666666" x="299.25146" y="154.04274" id="text10">
                </text>
                <text x="39.899445" y="34.194839" font-family="Marianne" font-size="14px" font-weight="400"
                    fill="#666666" text-anchor="start" dominant-baseline="central"
                    style="font-style:normal;line-height:24px" id="text4-5">
                    <tspan>Échangez
                        aussi longtemps que</tspan>

                    <tspan id="tspan10-5" x="39.907349" y="60.237579"
                        style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:14px;font-family:Marianne;-inkscape-font-specification:Marianne">
                        vous le souhaitez</tspan>
                </text>
                <text xml:space="preserve" style="font-size:14px;fill:#666666" x="146.52148" y="275.85373" id="text11">

                </text>
            </svg>
        </div>
    </div>
    <div class="fr-container-fluid bg-blue">
        <div class="fr-container">
            <h3 class="fr-pt-4w text-blue">Nos enjeux</h3>
            <p>
                Le comparateur COMPAR:IA est un outil gratuit proposé par le service du numérique du ministère de la
                Culture qui répond à trois enjeux majeurs&nbsp;:
            </p>
            <div class="fr-grid-row fr-grid-row--gutters">
                <div class="fr-col-md-3 flex"><span class="fr-icon-check-line"></span>
                    <p><strong>Sensibiliser les citoyens</strong> à l’IA générative et ses enjeux</p>
                </div>
                <div class="fr-col-md-3 fr-col-offset-md-1 flex"><span class="fr-icon-check-line"></span>
                    <p>Veiller au respect de la <strong>diversité des cultures francophones</strong> dans les modèles
                        d’IA conversationnelle</p>
                </div>
                <div class="fr-col-md-3 fr-col-offset-md-1 flex"><span class="fr-icon-check-line"></span>
                    <p><strong>Contribuer à la transparence</strong> des modèles d’IA générative</p>
                </div>
            </div>
        </div>
    </div>
    <div class="fr-container fr-mt-8w">
        <h3 class="text-blue">Nos missions</h3>

        <div class="fr-grid-row fr-grid-row--gutters">
            <!-- Tile 1 -->
            <div class="fr-col-md-4">
                <div class="fr-tile">
                    <div class="fr-tile__body">
                        <div class="fr-tile__content">
                            <h4 class="fr-tile__title">
                                Faciliter l’accès
                            </h4>
                            <p class="fr-tile__desc">Mise à disposition de plusieurs modèles d’IA
                                conversationnels à
                                travers une unique plateforme.</p>
                        </div>
                    </div>
                    <div class="fr-tile__header">
                        <div class="fr-tile__pictogram">
                            <img src="assets/extra-artwork/map-pin.svg" />
                            <!-- <svg aria-hidden="true" class="fr-artwork" viewBox="0 0 80 80" width="80px" height="80px">
                                <use href="assets/extra-artwork/ecosystem.svg"></use>
                            </svg> -->
                        </div>
                    </div>
                </div>
            </div>

            <!-- Tile 2 -->
            <div class="fr-col-md-4">
                <div class="fr-tile">
                    <div class="fr-tile__body">
                        <div class="fr-tile__content">
                            <h4 class="fr-tile__title">
                                Collecter des données
                            </h4>
                            <p class="fr-tile__desc">Création de jeux de données de préférence à partir de
                                tâches
                                réelles, utiles pour l’alignement des modèles en français.</p>
                        </div>
                    </div>
                    <div class="fr-tile__header">
                        <div class="fr-tile__pictogram">
                            <img src="assets/dsfr/artwork/pictograms/digital/data-visualization.svg" />
                            <!-- <svg aria-hidden="true" class="fr-artwork" viewBox="0 0 80 80" width="80px" height="80px">
                                <use href="assets/dsfr/artwork/pictograms/digital/data-visualization.svg"></use>
                            </svg> -->
                        </div>
                    </div>
                </div>
            </div>

            <!-- Tile 3 -->
            <div class="fr-col-md-4">
                <div class="fr-tile">
                    <div class="fr-tile__body">
                        <div class="fr-tile__content">
                            <h4 class="fr-tile__title">
                                Partager
                            </h4>
                            <p class="fr-tile__desc">Diffusion sous licence ouverte des jeux de données générées
                                pour en faire bénéficier l’écosystème IA.</p>
                        </div>
                    </div>
                    <div class="fr-tile__header">
                        <div class="fr-tile__pictogram">
                            <img src="assets/extra-artwork/ecosystem.svg" />
                            <!-- <svg aria-hidden="true" class="fr-artwork" viewBox="0 0 80 80" width="80px" height="80px">
                                <use href="assets/extra-artwork/map-pin.svg"></use>
                            </svg> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="fr-grid-row fr-grid-row--center fr-my-4w">
            <a class="fr-btn fr-col-10 fr-col-md-3 bg-light-blue inline-block text-center" href="/a-propos">En savoir
                plus</a>
        </div>
    </div>
    <div class="fr-grid-row">
        <div class="fr-container bg-blue fr-my-8w fr-col-12 fr-col-md-10">
            <div class="fr-container fr-py-4w">
                <h3 class="text-blue">Qui sommes-nous ?</h3>
                <p>Le comparateur COMPAR:IA est développé dans le cadre de la start-up d’Etat (incubateurs de
                    l’Atelier
                    numérique et AllIAnce) intégrée au programme <a href="https://beta.gouv.fr" rel="noopener external"
                        target="_blank">beta.gouv.fr</a> de la Direction interministérielle du numérique
                    (DINUM)
                    qui aide les administrations publiques à construire des services numériques utiles, simples et
                    faciles à utiliser.</p>
                <div class="fr-grid-row fr-grid-row--center fr-grid-row--middle">
                    <div class="fr-col-lg-3 fr-col-md-6 fr-col-12">
                        <img src="assets/orgs/minicult.svg" alt="Ministère de la Culture" width="137px" height="97px" />
                    </div>
                    <div class="fr-col-lg-3 fr-col-md-6 fr-col-12">
                        <img src="assets/orgs/ateliernumerique.png" alt="Atelier numérique" width="105px"
                            height="105px" />
                    </div>
                    <div class="fr-col-lg-3 fr-col-md-6 fr-col-12">
                        <img src="assets/orgs/betagouv.svg" alt="beta.gouv.fr" width="191px" height="65px" />
                    </div>
                    <div class="fr-col-lg-3 fr-col-md-6 fr-col-12">
                        <img src="assets/orgs/dinum.png" alt="DINUM" width="278px" height="59px" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}