{% extends "base.html" %}
{% block extra_styles %}

<link rel="stylesheet" href="assets/dsfr/utility/icons/icons-system/icons-system.css">
<link rel="stylesheet" href="assets/custom-site.css">
<style>
    legend {
        color: var(--text-default-grey) !important;
        font-weight: 700 !important;
        font-size: 1.1rem;

    }

    .github-title {
        color: var(--text-default-grey) !important;
        font-weight: 400 !important;
        font-size: 1.1rem;
    }

    .github-title img {
        vertical-align: middle;
    }

    .relative {
        position: relative;
    }

    .rounded-tile {
        border-color: #E5E5E5;
        border-width: 1px;
        border-style: solid;
        border-radius: 0.25rem;
    }

    .grid {
        display: grid;
    }

    .text-grey {
        color: var(--grey-625-425) !important;

    }


    .model-details.grid {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 0.5rem;
    }

    @media (min-width: 48em) {

        .model-details.grid {
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            gap: 0.5rem;
        }
    }


    .model-details .fr-icon--question-line {
        justify-self: right;
        top: 5px;
        position: relative;
    }


    .model-details .rounded-tile {
        display: grid;
        text-align: center;
        justify-items: center;
        align-items: end;
        align-content: space-between;
    }

    .text-grey-200 {
        color: var(--grey-200-850) !important;
    }

    .border-right {
        border-right: #E5E5E5 2px solid;
    }
</style>
{% endblock %}
{% block content %}
<main id="content" role="main">
    <div class="fr-container fr-grid-row">
        <aside class="fr-col-3 border-right fr-mt-md-12w">
            <h5>Filtres</h5>
            <!-- <p><a class="" onclick="reinitFilters()">Réinitialiser</a></p> -->
            <p><a href="#" class="reset-filters" id="reset-filters-link">Réinitialiser</a></p>

            <form id="model-filter-form">
                <fieldset class="fr-fieldset">
                    <legend>Taille (paramètres)</legend>
                    <div class="fr-checkbox-group">
                        {% set sizes = ['XS', 'S', 'M', 'L', 'XL'] %}
                        {% for size in sizes %}
                        <div class="fr-checkbox">
                            <input type="checkbox" id="size-{{ size }}" name="param-filter" value="{{ size }}">
                            <label for="size-{{ size }}">{{ size }}
                                <span style="color: grey; font-size: 12px;">({{ models | selectattr('friendly_size',
                                    '==', size) | list | length }})</span>
                            </label>
                        </div>
                        {% endfor %}
                    </div>
                </fieldset>

                <fieldset class="fr-fieldset">
                    <legend>Licence d'utilisation</legend>
                    <div class="fr-checkbox-group">
                        {% set unique_licenses = models | map(attribute='license') | unique %}
                        {% for license in unique_licenses %}
                        <div class="fr-checkbox">
                            <input type="checkbox" id="license-{{ license }}" name="license-filter"
                                value="{{ license }}">
                            <label for="license-{{ license }}">{{ license }}</label>
                        </div>
                        {% endfor %}
                    </div>
                </fieldset>

                <!-- <button type="submit">Apply Filter</button> -->
            </form>

            <!-- Applied Filters -->
            <div id="active-filters" class="fr-my-4w">
                <!-- Dynamically added filters will appear here -->
            </div>
        </aside>

        <section class="fr-col-9 fr-pl-4w">
            <div class="fr-grid-row fr-grid-row--gutters fr-my-7w fr-mt-md-12w fr-mb-md-10w">
                {% for model in models %}
                <div class="fr-col-12 fr-col-sm-6 fr-col-md-4 model-item"
                    data-friendly-size="{{ model['friendly_size'] }}" data-license="{{ model['license'] }}">
                    <div class="fr-card fr-enlarge-link">
                        <div class="fr-card__body">
                            <div class="fr-card__content">
                                <h6 class="fr-card__title"><a href="#" data-fr-opened="false"
                                        aria-controls="fr-modal-{{ model['id'] }}"></a></h6>
                                <h6 class="fr-mb-2w github-title"><img class="relative fr-mt-n2v"
                                        src="assets/orgs/{{ model['icon_path'] }}" width="34" /> {{
                                    model['organisation']
                                    }}/<strong>{{
                                        model["simple_name"] }}</strong>
                                </h6>
                                <p class="fr-mb-4w">

                                    {% if model['distribution'] ==
                                    "open-weights"
                                    %}
                                    <span
                                        class="fr-badge fr-badge--sm fr-badge--success fr-badge--no-icon fr-mr-1v fr-mb-1v">
                                        Open source
                                    </span>
                                    {%
                                    else
                                    %}
                                    <span
                                        class="fr-badge fr-badge--sm fr-badge--info fr-badge--no-icon fr-mr-1v fr-mb-1v">
                                        Propriétaire
                                    </span>
                                    {% endif %}
                                    <span class="fr-badge fr-badge--sm fr-badge--no-icon fr-mr-1v fr-mb-1v">
                                        {% if
                                        model['distribution'] == "open-weights" %}{{ model['params']|round|int }} mds de
                                        paramètres&nbsp;<a class="fr-icon fr-icon--xs fr-icon--question-line"
                                            aria-describedby="params-{{ model['id'] }}"></a>
                                        {%
                                        else
                                        %}Taille estimée ({{ model['friendly_size'] }})
                                        {% endif %}
                                    </span>

                                </p>
                                <p class="fr-card__desc">{{ model['excerpt'] }}</p>
                                <!-- <a href="{{ model.link }}" target="_blank" rel="noopener external"
                        class="fr-link--icon-right fr-link">    En savoir plus</a> -->
                            </div>
                        </div>
                    </div>
                </div>

                {% endfor %}
        </section>
    </div>
</main>
{% set j2_context = 'fastapi' %}

{% for model in models %}
{% include 'model-modal.html' %}
{% endfor %}

<script type="text/javascript">
    function updateResetFiltersLink() {
        const paramFilters = document.querySelectorAll('input[name="param-filter"]:checked');
        const licenseFilters = document.querySelectorAll('input[name="license-filter"]:checked');
        var resetFiltersLink = document.getElementById('reset-filters-link');
        const hasFilters = paramFilters.length > 0 || licenseFilters.length > 0;
        resetFiltersLink.disabled = !hasFilters;
        resetFiltersLink.classList.toggle('disabled', !hasFilters);
        if (hasFilters) {
            resetFiltersLink.onclick = reinitFilters;
        }
    }

    // Function to apply the filters
    function applyFilter() {
        const paramFilters = Array.from(document.querySelectorAll('input[name="param-filter"]:checked')).map(input => input.value);
        const licenseFilters = Array.from(document.querySelectorAll('input[name="license-filter"]:checked')).map(input => input.value);

        let models = document.querySelectorAll('.model-item');
        models.forEach(function (model) {
            let modelParams = model.getAttribute('data-friendly-size');
            let modelLicense = model.getAttribute('data-license');

            let paramMatch = paramFilters.length > 0 ? paramFilters.includes(modelParams) : true;
            let licenseMatch = licenseFilters.length > 0 ? licenseFilters.includes(modelLicense) : true;

            if (paramMatch && licenseMatch) {
                model.style.display = '';
            } else {
                model.style.display = 'none';
            }
        });

        updateActiveFilters();
    }

    function reinitFilters() {
        const paramFilters = document.querySelectorAll('input[name="param-filter"]');
        const licenseFilters = document.querySelectorAll('input[name="license-filter"]');

        paramFilters.forEach(function (param) {
            param.checked = false;
        });

        licenseFilters.forEach(function (license) {
            license.checked = false;
        });

        applyFilter();
    }

    var currentFilters = {
        paramFilters: [],
        licenseFilters: []
    };


    document.addEventListener('DOMContentLoaded', function () {
        var resetFiltersLink = document.getElementById('reset-filters-link');

        // Call the function initially to set the state of the link
        updateResetFiltersLink();

        // Add event listeners for filter changes
        document.querySelectorAll('input[name="param-filter"]').forEach(function (checkbox) {
            checkbox.addEventListener('change', updateResetFiltersLink);
        });

        document.querySelectorAll('input[name="license-filter"]').forEach(function (checkbox) {
            checkbox.addEventListener('change', updateResetFiltersLink);
        });
        // Add event listeners for filter changes
        document.querySelectorAll('input[name="param-filter"]').forEach(function (checkbox) {
            checkbox.addEventListener('change', applyFilter);
        });
        document.querySelectorAll('input[name="license-filter"]').forEach(function (checkbox) {
            checkbox.addEventListener('change', applyFilter);
        });
    });
</script>
{% endblock %}