{% if j2_context == "arena" %}
    {% set src = 'file=' %}
{% else %}
    {% set src = '' %}
{% endif %}

<dialog aria-labelledby="fr-modal-title-modal-{{ model['id'] }}" role="dialog" id="fr-modal-{{ model['id'] }}"
    class="fr-modal">
    <div class="fr-container fr-container--fluid fr-container-md">
        <div class="fr-grid-row fr-grid-row--center">
            <div class="fr-col-12 fr-col-md-8">
                <div class="fr-modal__body">
                    <div class="fr-modal__header">
                        <button class="fr-btn--close fr-btn" title="Fermer la fenêtre modale"
                            aria-controls="fr-modal-{{ model['id'] }}">Fermer</button>
                    </div>
                    <div class="fr-modal__content fr-mb-4w modal-model">
                        <h6 class="fr-mb-2w github-title"><img class="inline fr-mt-n2v"
                                src="{{ src }}assets/orgs/{{ model['icon_path'] }}" width="34" /> {{ model['organisation']
                            }}/<strong>{{
                                model["simple_name"] }}</strong>
                        </h6>
                        <p class="fr-mb-4w">

                            {% if model['distribution'] ==
                            "open-weights"
                            %}
                            <span class="fr-badge fr-badge--success fr-badge--no-icon fr-mr-1v fr-mb-1v">
                                Open source
                            </span>
                            {%
                            else
                            %}
                            <span class="fr-badge fr-badge--info fr-badge--no-icon fr-mr-1v fr-mb-1v">
                                Propriétaire
                            </span>
                            {% endif %}
                            <span class="fr-badge fr-badge--no-icon fr-mr-1v fr-mb-1v">
                                {% if
                                model['distribution'] == "open-weights" %}{{ model['params']|round|int }} mds de
                                paramètres&nbsp;<a class="fr-icon fr-icon--xs fr-icon--question-line"
                                    aria-describedby="params-{{ model['id'] }}"></a>
                                {%
                                else
                                %}Taille estimée ({{ model['friendly_size'] }})
                                {% endif %}
                            </span>
                            <span class="fr-badge fr-badge--no-icon fr-mr-1v">
                                Licence {% if
                                model['distribution'] == "open-weights" %}{{ model['license'] }}{%
                                else
                                %}commerciale
                                {% endif %}
                            </span>
                        </p>
                        <p>{{ model['description'] }}</p>
                        <div>
                            <h6 class="fr-mb-0">Taille</h6>
                            <p class="fr-mb-4w text-grey fr-text--sm">
                                {% if
                                model['distribution'] == "open-weights" %}
                                Doté de {{ model['params']|round|int }} milliards de paramètres, ce modèle fait partie
                                de la classe des {% if
                                model['friendly_size']
                                ==
                                "XS" %}modèles très petits (moins de 7 milliards de paramètres).
                                {% elif model['friendly_size'] == "S" %}petits modèles (entre 7 et 20 milliards de
                                paramètres).
                                {% elif model['friendly_size'] == "M" %}moyens modèles (entre 20 et 70 milliards de
                                paramètres).
                                {% elif model['friendly_size'] == "L" %}grands modèles (entre 70 et 100 milliards de
                                paramètres).
                                {% elif model['friendly_size'] == "XL" %}très grands
                                modèles.
                                {% endif %}{% endif %}
                                {{ size_desc[model["friendly_size"]] }}</p>
                        </div>
                        <div class="fr-mb-4w">
                            <h6 class="fr-mb-0">Conditions d'utilisation</h6>
                            <div class="fr-mb-1w">
                                {% if
                                model['distribution'] == "open-weights" %}
                                <p class="fr-text--sm text-grey">
                                    Licence {{
                                    model['license'] }}&nbsp;: {{ license_desc[model["license"]]|default("Les
                                    informations de
                                    licence n'ont pas été remplies pour ce modèle.") }}
                                </p>
                                <div class="grid model-details">
                                    <div class="rounded-tile relative fr-px-1v fr-py-1w">
                                        {% if model["license"] in license_attrs and
                                        license_attrs[model["license"]].get('warning_commercial', False) %}
                                        <img src="{{ src }}assets/extra-icons/orangecheck.svg" alt="">
                                        {% else %}
                                        <img src="{{ src }}assets/extra-icons/greencheck.svg" alt="">{% endif %}
                                        <span class="text-grey-200 fr-text--xs fr-mb-0">Utilisation commerciale</span>
                                    </div>
                                    <div class="rounded-tile relative fr-px-1v fr-py-1w">

                                        <img src="{{ src }}assets/extra-icons/greencheck.svg" alt="">
                                        <span class="text-grey-200 fr-text--xs fr-mb-0">Modification autorisée</span>
                                    </div>
                                    <div class="rounded-tile relative fr-px-1v fr-py-1w">
                                        <img src="{{ src }}assets/extra-icons/greencheck.svg" alt="">
                                        <span class="text-grey-200 fr-text--xs fr-mb-0">Attribution requise</span>
                                    </div>
                                    <div class="rounded-tile relative fr-px-1v fr-py-1w">
                                        <a class="fr-icon fr-icon--xs fr-icon--question-line"
                                            aria-describedby="license-type-{{ model['id'] }}"></a>
                                        <span class="fr-badge fr-badge--sm">{% if
                                            model['conditions'] == "free" %}Permissive{% elif model['conditions'] ==
                                            "copyleft" %}Copyleft{% else %}Sous conditions{% endif
                                            %}
                                        </span>
                                        <span class="text-grey-200 fr-text--xs fr-mb-0">Type de licence</span>
                                    </div>
                                    <div class="rounded-tile relative fr-px-1v fr-py-1w">
                                        <a class="fr-icon fr-icon--xs fr-icon--question-line"
                                            aria-describedby="ram-{{ model['id'] }}"></a>
                                        <span class="fr-badge fr-badge--sm">{{
                                            (model['required_ram'] // 2)|int }} à {{ (model['required_ram'] * 2)|int }}
                                            Go</span>
                                        <span class="text-grey-200 fr-text--xs fr-mb-0">RAM nécessaire </span>

                                    </div>
                                </div>
                                {%
                                else %}
                                <p class="fr-text--sm text-grey">
                                    {{ license_desc[model["license"]]|default("Les
                                    informations de
                                    licence n'ont pas été remplies pour ce modèle.") }}</p>
                                {% endif %}

                            </div>
                        </div>

                        <h6>Pour aller plus loin</h6>
                        <p class="text-grey">
                            {% if
                            model['distribution'] == "open-weights" %}
                            Pour les expert·es, consultez la <a href="{{ model['url']|default('#') }}"
                                rel="noopener external" target="_blank">fiche du modèle sur Hugging Face</a>.
                            {% else %}
                            Pour les expert·es, consultez le <a href="{{ model['url']|default('#') }}"
                                rel="noopener external" target="_blank">site officiel du modèle</a>.
                            {% endif %}<br />
                            Les calculs d’impacts environnementaux reposent sur les projets <a
                                href="https://huggingface.co/spaces/genai-impact/ecologits-calculator"
                                rel="noopener external" target="_blank">EcoLogits</a> et <a rel="noopener external"
                                target="_blank" href="https://impactco2.fr">Impact
                                CO<sub>2</sub></a>.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% if model['distribution'] == "open-weights" %}
    <span class="fr-tooltip fr-placement" id="params-{{ model['id'] }}" role="tooltip" aria-hidden="true">Les paramètres
        ou
        les poids, comptés en milliards, sont les variables, apprises par un modèle au cours de son entrainement, qui
        déterminent ses réponses. Plus le nombre de paramètres est important, plus il est capable d’effectuer des tâches
        complexes.
    </span>
    <span class="fr-tooltip fr-placement" id="license-type-{{ model['id'] }}" role="tooltip" aria-hidden="true">
        {% if
        model['conditions'] == "free" %}
        Une fois modifié, le modèle peut être redistribué sous une licence différente du modèle source.
        {% elif model['conditions'] == "copyleft"
        %}
        Une fois modifié, le modèle doit être redistribué sous la même licence que celle du modèle source.
        {% endif %}
    </span>
    <span class="fr-tooltip fr-placement" id="ram-{{ model['id'] }}" role="tooltip" aria-hidden="true">
        La RAM (mémoire vive) stocke les données traitées par un LLM en temps réel. Plus le modèle est grand, plus il a
        besoin de RAM pour fonctionner.
    </span>
    {% endif %}
</dialog>