{% extends "base.html" %}

{% block content %}

<main id="content" role="main">

    <div class="fr-container">
        <div class="fr-grid-row fr-grid-row--gutters fr-mt-1w">
            {% for model in models %}
            <div class="fr-col-12 fr-col-sm-6 fr-col-md-4 fr-col-lg-3">
                <div class="fr-card fr-enlarge-link">
                    <div class="fr-card__body">
                        <div class="fr-card__content">
                            <p class="fr-badge fr-badge--blue-cumulus fr-badge--sm fr-mb-1w">Modèle ouvert</p>
                            <h3 class="fr-card__title"><a href="#" data-fr-opened="false" aria-controls="fr-modal-{{ model['id'] }}">{{
                                model['simple_name'] }}</a></h3>
                            <!-- <p class="fr-card__desc">{{ model['excerpt'] }}</p> -->
                            <!-- <a href="{{ model.link }}" target="_blank" rel="noopener external"
                        class="fr-link--icon-right fr-link">    En savoir plus</a> -->
                        </div>
                    </div>
                </div>
            </div>

            {% endfor %}
        </div>
    </div>
</main>

<!-- Modale Simple
     La balise <dialog> peut être placée n'importe où sur la page, toutefois
     nous vous conseillons, si vous en avez la possibilité,
     d'en faire un enfant direct de la balise <body>
-->

{% for model in models %}
<dialog aria-labelledby="fr-modal-title-modal-{{ model['id'] }}" role="dialog" id="fr-modal-{{ model['id'] }}" class="fr-modal">
    <div class="fr-container fr-container--fluid fr-container-md">
        <div class="fr-grid-row fr-grid-row--center">
            <div class="fr-col-12 fr-col-md-8">
                <div class="fr-modal__body">
                    <div class="fr-modal__header">
                        <button class="fr-btn--close fr-btn" title="Fermer la fenêtre modale"
                            aria-controls="fr-modal-{{ model['id'] }}">Fermer</button>
                    </div>
                    <div class="fr-modal__content fr-mb-4w">
                        <h1 id="fr-modal-title-fr-modal-{{ model['id'] }}" class="fr-modal__title">{{ model['simple_name'] }}
                            <img class="model-icon" src="assets/orgs/{{ model['icon_path'] }}" width="20"
                                height="20" /></a>
                        </h1>
                        <p><span class="fr-badge">Taille {{
                                model['friendly_size']
                                }}</span> <span class="fr-badge">{{ '%0.1f'| format(model['params']|float) }} milliards
                                de
                                paramètres</span> <span class="fr-badge">{{ model['organisation'] }}</span></p>
                        <p>{{ model['description'] }}</p>
                        <div class="fr-grid-row">
                            <div class="fr-col-12 fr-col-md-6">
                                <h5>Transparence</h5>
                                <p><span class="fr-icon-stack" aria-hidden="true">Code source</span><br />{% if
                                    model['distribution'] == "open-weights" %}<span
                                        class="fr-badge fr-badge--blue-cumulus">Poids communiqués</span>{%
                                    else %}<span class="fr-badge fr-badge--yellow-moutarde">Propriétaire</span>{% endif
                                    %}</p>
                                <p><span class="fr-icon-stack" aria-hidden="true">Corpus d'entrainement</span><br />{%
                                    if
                                    model['dataset'] == "private" %}<span class="fr-badge fr-badge--yellow-moutarde">Non
                                        communiqué</span>{% else %}<span
                                        class="fr-badge fr-badge--green-tilleul-verveine">Public</span>{% endif %}</p>
                            </div>
                            <div class="fr-col-12 fr-col-md-6">
                                <h5>Utilisation</h5>
                                <p><span class="fr-icon-stack" aria-hidden="true">Distribution</span><br />{% if
                                    model['distribution'] == "open-weights" %}<span
                                        class="fr-badge fr-badge--blue-cumulus">Téléchargeable</span> <span
                                        class="fr-badge">{{ model['required_ram'] }} Go de RAM nécessaires</span>{%
                                    else %}<span class="fr-badge fr-badge--yellow-moutarde">API uniquement</span>{%
                                    endif %}</p>
                                <p><span class="fr-icon-stack" aria-hidden="true">Conditions d'usage</span><br />{% if
                                    model['conditions'] == "restricted" %}<span
                                        class="fr-badge fr-badge--yellow-moutarde">Sous conditions</span>{% else
                                    %}<span class="fr-badge fr-badge--blue-cumulus">Libre</span>{% endif %} <span
                                        class="fr-badge fr-badge--blue-cumulus">Licence {{ model['license'] }}</span>
                                </p>
                            </div>
                            <h5>Détails</h5>
                            <p><span class="fr-icon-stack" aria-hidden="true"><strong>Taille {{ model["friendly_size"]
                                        }}</strong> : {{ size_desc[model["friendly_size"]] }}</span>
                            <p><span class="fr-icon-stack" aria-hidden="true"><strong>Licence {{ model["license"]
                                        }}</strong> : {{ license_desc[model["license"]]|default("Les informations de
                                    licence n'ont pas été remplies pour ce modèle.") }}</span>
                            <p><span class="fr-icon-stack" aria-hidden="true"><strong>Indicateurs
                                        environnementaux</strong> : rendez-vous sur <a
                                        href="https://huggingface.co/spaces/genai-impact/ecologits-calculator"
                                        rel="noopener external" target="_blank">🧮 EcoLogits Calculator</a></p>
                            <p><a href="{{ model['url']|default('#') }}" rel="noopener external"
                                    target="_blank">Pour en savoir plus sur ce modèle</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</dialog>
{% endfor %}

{% endblock %}