{% extends "base.html" %}

{% block content %}

<main id="content" role="main">

    <div class="fr-container">
        <div class="fr-grid-row fr-grid-row--gutters fr-mt-1w">
            {% for model in models %}
            <div class="fr-col-12 fr-col-sm-6 fr-col-md-4 fr-col-lg-3">
                <div class="fr-card fr-enlarge-link">
                    <div class="fr-card__body">
                        <div class="fr-card__content">
                            <p class="fr-badge fr-badge--blue-cumulus fr-badge--sm fr-mb-1w">Modèle ouvert</p>
                            <h3 class="fr-card__title"><a href="#" data-fr-opened="false" aria-controls="fr-modal-{{ model['id'] }}">{{
                                model['simple_name'] }}</a></h3>
                            <p class="fr-card__desc">{{ model['excerpt'] }}</p>
                            <!-- <a href="{{ model.link }}" target="_blank" rel="noopener external"
                        class="fr-link--icon-right fr-link">    En savoir plus</a> -->
                        </div>
                    </div>
                </div>
            </div>

            {% endfor %}
        </div>
    </div>
</main>

<!-- Modale Simple
     La balise <dialog> peut être placée n'importe où sur la page, toutefois
     nous vous conseillons, si vous en avez la possibilité,
     d'en faire un enfant direct de la balise <body>
-->

{% for model in models %}
<dialog aria-labelledby="fr-modal-title-modal-{{ model['id'] }}" role="dialog" id="fr-modal-{{ model['id'] }}" class="fr-modal">
    <div class="fr-container fr-container--fluid fr-container-md">
        <div class="fr-grid-row fr-grid-row--center">
            <div class="fr-col-12 fr-col-md-8 fr-col-lg-6">
                <div class="fr-modal__body">
                    <div class="fr-modal__header">
                        <button class="fr-btn--close fr-btn" title="Fermer la fenêtre modale"
                            aria-controls="fr-modal-{{ model['id'] }}">Fermer</button>
                    </div>
                    <div class="fr-modal__content">
                        <h1 id="fr-modal-title-modal-{{ model['id'] }}" class="fr-modal__title"><span
                                class="fr-icon-arrow-right-line fr-icon--lg"></span>Titre de la modale</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas varius tortor nibh, sit
                            amet tempor nibh finibus et. Aenean eu enim justo. Vestibulum aliquam hendrerit molestie.
                            Mauris malesuada nisi sit amet augue accumsan tincidunt. Maecenas tincidunt, velit ac
                            porttitor pulvinar, tortor eros facilisis libero, vitae commodo nunc quam et ligula. Ut nec
                            ipsum sapien. Interdum et malesuada fames ac ante ipsum primis in faucibus. Integer id nisi
                            nec nulla luctus lacinia non eu turpis. Etiam in ex imperdiet justo tincidunt egestas. Ut
                            porttitor urna ac augue cursus tincidunt sit amet sed orci.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</dialog>
{% endfor %}

{% endblock %}