{% extends "base.html" %}

{% block content %}
<main id="contenu">
    <h2>Partenaires technologiques</h2>
    Les modèles déployés ne sont pas hébergés sur les infrastructures du ministère de la Culture. Notre service repose sur des dons de crédits cloud pour servir les modèles en inférence.
    <!-- Vous souhaitez contribuer ou intégrer vos modèles au comparateur ?
    Contactez-nous -->
    <h2>Partenaires institutionnels</h2>
    Nous créons un réseau de partenaires distributeurs intégrant le comparateur dans leur offre de services et de formation. 
    <!-- Vous souhaitez utiliser le comparateur pour répondre à un besoin métier ?
    Dites-nous en plus -->
    <h2>Partenaires académiques</h2>
    Nous avons à coeur que les jeux de données générés alimentent des travaux de recherche multidisciplinaires mêlant sciences humaines et sociales et data science.
    <!-- Vous menez un projet de recherche et avez des suggestions ou besoin de précision sur la démarche et/ou les jeux de données produits ?
    Contactez-nous -->
    <!-- <h2>Services mis à contribution</h2>
    Les calculs d’impacts environnementaux reposent sur les produits ci dessous. -->

</main>
{% endblock %}