{% extends "base.html" %}

{% block content %}
<main id="contenu" class="fr-my-4w">
    <div class="fr-container">
        <h1 id="politique-de-confidentialit-">Politique de confidentialité</h1>

        <p>Le service « Arène LANGUIA » est à l’initiative du service du numérique du ministère de la Culture et de la
            Direction interministérielle du Numérique.</p>
        <!-- <h2 id="-cookies-d-pos-s-et-consentement-"><strong>Cookies déposés et consentement</strong></h2>
        <p>Ce site dépose un petit fichier texte (un « cookie ») sur votre ordinateur lorsque vous le consultez. Cela
            nous permet de mesurer le nombre de visites et de comprendre quelles sont les pages les plus consultées.</p> -->
        <!-- <p>Vous pouvez vous opposer au suivi de votre navigation sur ce site web. Cela protégera votre vie privée, mais
            empêchera également le propriétaire d&#39;apprendre de vos actions et de créer une meilleure expérience pour
            vous et les autres utilisateurs.</p> -->
        <!-- <ul>
            <li>
                <p>[x] </p>
                <p> <strong>Vous n&#39;êtes pas exclu(e). Décochez cette case pour vous exclure.</strong></p>
            </li>
        </ul> -->
        <!-- <h2 id="-ce-site-n-affiche-pas-de-banni-re-de-consentement-aux-cookies-pourquoi-"><strong>Ce site n’affiche pas
                de bannière de consentement aux cookies, pourquoi ?</strong></h2>
        <p>C’est vrai, vous n’avez pas eu à cliquer sur un bloc qui recouvre la moitié de la page pour dire que vous
            êtes d’accord avec le dépôt de cookies — même si vous ne savez pas ce que ça veut dire !</p>
        <p>Rien d’exceptionnel, pas de passe-droit lié à un <code>.gouv.fr</code>. Nous respectons simplement la loi,
            qui dit que certains outils de suivi d’audience, correctement configurés pour respecter la vie privée, sont
            exemptés d’autorisation préalable.</p>
        <p>Nous utilisons pour cela <a href="https://matomo.org/">Matomo</a>, un outil <a
                href="https://matomo.org/free-software/">libre</a>, paramétré pour être en conformité avec la <a
                href="https://www.cnil.fr/fr/solutions-pour-la-mesure-daudience">recommandation « Cookies »</a> de la
            CNIL. Cela signifie que votre adresse IP, par exemple, est anonymisée avant d’être enregistrée. Il est donc
            impossible d’associer vos visites sur ce site à votre personne.</p>
        <h2 id="-je-contribue-enrichir-vos-donn-es-puis-je-y-acc-der-"><strong>Je contribue à enrichir vos données,
                puis-je y accéder ?</strong></h2>
        <p>Bien sûr ! Les statistiques d’usage du site sont disponibles en accès libre sur <a
                href="https://stats.beta.gouv.fr/index.php?module=CoreHome&action=index&idSite=126&period=range&date=previous30#?period=range&date=previous30&module=VisitsSummary&amp%253Baction=index&amp%253BidSite=21&amp%253Bperiod=range&amp%253Bdate=previous30&category=Dashboard_Dashboard&subcategory=1&idSite=126"><code>stats.beta.gouv.fr</code></a>.
        </p>
        <p>Les données de dialogue et de préférence de l’utilisateur sont distribuées sous licence ouverte 2.0. Le jeu
            de données est diffusé sur la plateforme Hugging Face à travers le compte du ministère de la culture (<a
                href="https://huggingface.co/ministere-culture">https://huggingface.co/ministere-culture</a>). La mise à
            jour des jeux de données est effectuée périodiquement.</p>
        <h2 id="-traitons-nous-des-donn-es-caract-re-personnel-"><strong>Traitons-nous des données à caractère personnel
                ?</strong></h2>
        <p>L’arène LANGU:IA ne traite pas de données à caractère personnel telles que définies par la CNIL, à savoir
            toute information relative à une personne physique susceptible d&#39;être identifiée, directement ou
            indirectement.</p>
        <p>Les données collectées sont les suivantes :</p>
        <ul>
            <li>Données relatives aux utilisateurs : classe d’âge, type d’activité, genre</li>
            <li>Données relatives aux conversations des utilisateurs avec les modèles : questions posées par les
                utilisateurs, réponses des modèles et préférence exprimée par l’utilisateur sur les deux modèles</li>
            <li>Données relatives au questionnaire “Donner mon avis sur l’arène”.</li>
        </ul>
        <p>L’utilisateur est responsable des données ou contenus qu&#39;il ou elle saisit dans l’invite offert par la
            plateforme. En acceptant les conditions générales d’utilisation, l’utilisateur ou l’utilisatrice s’engage à
            ne pas transmettre d’informations permettant de l’identifier ou d’identifier un tiers.</p>
        <p>L’éditeur se dégage de toute responsabilité en cas d’utilisation non-conforme aux modalités d’utilisation.
        </p>
        <h3 id="quels-sont-les-traitements-r-alis-s-sur-les-donn-es-de-conversation-">Quels sont les traitements
            réalisés sur les données de conversation ?</h3>
        <p>En tout état de cause, l’éditeur s’engage à mettre en œuvre les moyens permettant de s’assurer de
            l’anonymisation les données de dialogue avant leur mise à disposition.</p>
        <p>L’arène LANGU:IA traite ces données en se basant sur l’exécution d’une mission d’intérêt public ou relevant
            de l’exercice de l’autorité publique dont est investi le responsable de traitement au sens de l’article 6-1
            e) du RGPD.</p>
        <h3 id="-pourquoi-traitons-nous-des-donn-es-relatives-au-profilage-des-utilisateurs-"><strong>Pourquoi
                traitons-nous des données relatives au profilage des utilisateurs ?</strong></h3>
        <p>L’arène LANGUIA traite des données relatives au profil des utilisateurs pour catégoriser les annotations de
            préférence des modèles selon le genre, la classe d’âge et le type d’activité de l’utilisateur. Les données
            de profilage contribuent à l’enrichissement des jeux de données de préférence.</p>
        <h3 id="-pendant-combien-de-temps-conservons-nous-ces-donn-es-"><strong>Pendant combien de temps conservons-nous
                ces données ?</strong></h3>
        <p>Les données relatives aux utilisateurs et à leurs conversations avec les modèles sont conservées à compter de
            l’enregistrement du vote de préférence. </p> -->
        <h3 id="-qui-est-responsable-du-traitement-des-donn-es-"><strong>Qui est responsable du traitement des données
                ?</strong></h3>
        <p>Le service du numérique du ministère de la Culture est le responsable du traitement de vos données à
            caractère personnel.</p>
        <p>Il est situé 3, rue de Valois, 75001, Paris.</p>
        <h3 id="-qui-nous-aide-traiter-les-donn-es-"><strong>Qui nous aide à traiter les données ?</strong></h3>
        <ul>
            <li>Sous-traitant : OVH</li>
            <li>Pays destinataire : France</li>
            <li>Traitement réalisé : Hébergement</li>
            <li>Garanties : <a
                    href="https://storage.gra.cloud.ovh.net/v1/AUTH_325716a587c64897acbef9a4a4726e38/contracts/9e74492-OVH_Data_Protection_Agreement-FR-6.0.pdf">https://storage.gra.cloud.ovh.net/v1/AUTH_325716a587c64897acbef9a4a4726e38/contracts/9e74492-OVH_Data_Protection_Agreement-FR-6.0.pdf</a>
            </li>
        </ul>
        <!-- <p><strong>Quels sont vos droits ?</strong></p>
        <p><del>Vous disposez d’un droit à la limitation du traitement de vos données.</del> </p>
        <p><del>Pour exercer ces droits ou pour toute question sur le traitement de vos données dans ce dispositif,
                contactez-nous par voie électronique <a
                    href="mailto:contact@languia.beta.gouv.fr">contact@languia.beta.gouv.fr</a> ou par voie
                postale:</del> </p>
        <ul>
            <li><del>Service du Numérique</del></li>
            <li><del>Ministère de la Culture</del></li>
            <li><del>3 rue de Valois 75001 Paris</del></li>
        </ul>
        <p><del>Puisque ce sont des droits personnels, nous ne traiterons votre demande que si nous sommes en mesure de
                vous identifier. Dans le cas où nous ne parvenons pas à vous identifier, nous pouvons être amenés à vous
                demander une preuve de votre identité.</del></p>
        <p><del>Pour vous aider dans votre démarche, vous trouverez un modèle de courrier élaboré par la CNIL ici : <a
                    href="https://www.cnil.fr/fr/modele/courrier/exercer-son-droit-dacces">https://www.cnil.fr/fr/modele/courrier/exercer-son-droit-dacces</a></del>
        </p>
        <p><del>Nous nous engageons à vous répondre dans un délai raisonnable qui ne saurait dépasser 1 mois à compter
                de la réception de votre demande.</del></p>
        <p><del>Si vous estimez, après nous avoir contactés, que vos droits « Informatique et Libertés » ne sont pas
                respectés, vous pouvez adresser une réclamation à la CNIL.</del></p> -->
        <h3 id="-quelles-mesures-de-s-curit-mettons-nous-en-place-"><strong>Quelles mesures de sécurité mettons-nous en
                place ?</strong></h3>
        <p>Nous mettons en place plusieurs mesures pour sécuriser les données :</p>
        <ul>
            <li>Stockage des données en base de données ;</li>
            <li>Cloisonnement des données ;</li>
            <li>Mesures de traçabilité ;</li>
            <li>Surveillance ;</li>
            <li>Protection contre les virus, malwares et logiciels espions ;</li>
            <li>Protection des réseaux ;</li>
            <li>Sauvegarde.</li>
        </ul>
    </div>

</main>
{% endblock %}