{% extends "base.html" %}

{% block content %}
<main id="contenu" class="fr-my-7w fr-mt-md-12w fr-mb-md-10w">
    <div class="fr-container">
        <h1 id="politique-de-confidentialit-">Politique de confidentialité</h1>
        <p>Le service « Arène LANGU:IA » est à l’initiative du service du numérique du ministère de la Culture et de la
            Direction interministérielle du Numérique.</p>
        <p><strong>Cookies déposés et consentement</strong></p>
        <p>Ce site dépose un petit fichier texte (un « cookie ») sur votre ordinateur lorsque vous le consultez. Cela
            nous permet de mesurer le nombre de visites et de comprendre quelles sont les pages les plus consultées.</p>
        <p>Vous pouvez vous opposer au suivi de votre navigation sur ce site web. Cela protégera votre vie privée, mais
            empêchera également le propriétaire d'apprendre de vos actions et de créer une meilleure expérience pour
            vous et les autres utilisateurs.</p>
        <div id="matomo-opt-out" class=""fr-badge></div>
        <script
            src="https://stats.beta.gouv.fr/index.php?module=CoreAdminHome&action=optOutJS&divId=matomo-opt-out&language=auto&showIntro=1"></script>
        <p><strong>Ce site n’affiche pas de bannière de consentement aux cookies, pourquoi&nbsp;?</strong></p>
        <p>C’est vrai, vous n’avez pas eu à cliquer sur un bloc qui recouvre la moitié de la page pour dire que vous
            êtes d’accord avec le dépôt de cookies —&nbsp;même si vous ne savez pas ce que ça veut dire&nbsp;!</p>
        <p>Rien d’exceptionnel, pas de passe-droit lié à un&nbsp;.gouv.fr. Nous respectons simplement la loi, qui dit
            que certains outils de suivi d’audience, correctement configurés pour respecter la vie privée, sont exemptés
            d’autorisation préalable.</p>
        <p>Nous utilisons pour cela&nbsp;<a href="https://matomo.org/" target="_blank"><u>Matomo</u></a>, un
            outil&nbsp;<a href="https://matomo.org/free-software/" target="_blank"><u>libre</u></a>, paramétré pour être
            en conformité avec la&nbsp;<a href="https://www.cnil.fr/fr/solutions-pour-la-mesure-daudience"
                target="_blank"><u>recommandation «&nbsp;Cookies&nbsp;»</u></a>&nbsp;de la&nbsp;CNIL. Cela signifie que
            votre adresse IP, par exemple, est anonymisée avant d’être enregistrée. Il est donc impossible d’associer
            vos visites sur ce site à votre personne.</p>
        <p><strong>Je contribue à enrichir vos données, puis-je y accéder&nbsp;?</strong></p>
        <p>Bien sûr&nbsp;! Les statistiques d’usage du site sont disponibles en accès libre sur&nbsp;<a
                href="https://stats.beta.gouv.fr/" target="_blank"><u>stats.beta.gouv.fr</u></a>.</p>
        <p>Les données de dialogue et de préférence de l’utilisateur sont distribuées sous licence ouverte 2.0. Le jeu
            de donnée est diffusé sur la plateforme Hugging Face à travers le compte du ministère de la culture (<a
                href="https://huggingface.co/ministere-culture"
                target="_blank"><u>https://huggingface.co/ministere-culture</u></a>). La mise à jour des jeux de données
            est effectuée périodiquement.</p>
        <p><strong>Traitons-nous des données à caractère personnel ?</strong></p>
        <p>L’arène LANGU:IA ne traite pas de données à caractère personnel telles que définies par la CNIL, à savoir
            toute information relative à une personne physique susceptible d'être&nbsp;identifiée, directement ou
            indirectement.</p>
        <p>Les données collectées sur le site sont les suivantes :</p>
        <ul>
            <li>Données relatives aux utilisateurs : classe d’âge, type d’activité, genre</li>
            <li>Données relatives aux conversations des utilisateurs avec les modèles : questions posées par les
                utilisateurs, réponses des modèles et préférence exprimée par l’utilisateur sur les deux modèles</li>
            <li>Données relatives au questionnaire “Donner mon avis sur l’arène”.</li>
        </ul>
        <p>L’utilisateur est responsable des données ou contenus qu'il ou elle saisit dans l’invite de dialogue avec les deux modèles anonymes. En acceptant les modalités d’utilisation, l’utilisateur ou l’utilisatrice
            s’engage à ne pas transmettre d’informations permettant de l’identifier ou d’identifier un tiers. L’éditeur
            se dégage de toute responsabilité en cas d’utilisation non-conforme aux modalités d’utilisation.</p>
        <p><strong>Quels sont les traitements réalisés sur les données de conversation ?</strong></p>
        <p>En tout état de cause, l’éditeur s’engage à mettre en œuvre les moyens permettant de s’assurer de
            l’anonymisation les données de dialogue avant leur mise à disposition.</p>
        <p>L’arène LANGU:IA traite ces données en se basant sur l’exécution d’une mission d’intérêt public ou relevant
            de l’exercice de l’autorité publique dont est investi le responsable de traitement au sens de l’article 6-1
            e) du RGPD.</p>
        <p><strong>Pourquoi traitons-nous des données relatives au profilage des utilisateurs ?</strong></p>
        <p>L’arène LANGU:IA traite des données relatives au profil des utilisateurs pour catégoriser les annotations de
            préférence des modèles selon le genre, la classe d’âge et le type d’activité de l’utilisateur. Les données
            de profilage contribuent à l’enrichissement des jeux de données de préférence.</p>
        <p><strong>Pendant combien de temps conservons-nous ces données ?</strong></p>
        <p>Les données relatives aux utilisateurs et à leurs conversations avec les modèles sont conservées à compter de
            l’enregistrement du vote de préférence.</p>
        <p><strong>Qui est responsable du traitement des données ?</strong></p>
        <p>Le service du numérique du ministère de la Culture, situé 3, rue de Valois, 75001, Paris, est le responsable
            de la collecte et du traitement des données dans le cadre de l’exploitation du service «&nbsp;Arène
            LANGU:IA&nbsp;».</p>
        <p><strong>Qui nous aide à traiter les données ?</strong></p>
        <ul>
            <li>Sous-traitant : OVH</li>
            <li>Pays destinataire : France</li>
            <li>Traitement réalisé : Hébergement</li>
            <li>Garanties : <a
                    href="https://storage.gra.cloud.ovh.net/v1/AUTH_325716a587c64897acbef9a4a4726e38/contracts/9e74492-OVH_Data_Protection_Agreement-FR-6.0.pdf"
                    target="_blank"><u>https://storage.gra.cloud.ovh.net/v1/AUTH_325716a587c64897acbef9a4a4726e38/contracts/9e74492-OVH_Data_Protection_Agreement-FR-6.0.pdf</u></a>
            </li>
        </ul>
    </div>

</main>
{% endblock %}