<div>
    <h3>Merci pour votre vote !<br />
        Découvrez les modèles avec lesquels vous venez de discuter :</h3>
    <div class="fr-grid-row fr-grid-row--gutters">
        {% for model, side in [(model_a, 'leftvote'), (model_b, 'rightvote')] %}
        <div class="fr-tile fr-col-md-6 fr-col-12">
            <h2>{{ model["simple_name"] }} <img src="file=assets/orgs/{{ model['icon_path'] }}" /></h2>
            {% if which_model_radio == side %}
            <span class="fr-badge fr-badge--success">Votre choix</span>
            {% endif %}
            <p>{{ model['organisation'] }}, {{ model['country'] }} <span class="fr-badge">{{ model['friendly_size']
                    }}</span></p>
            <p>{{ model['excerpt'] }}</p>
            <div class="fr-grid-row">
                <div class="fr-col-12 fr-col-md-6">
                    <h4>Transparence</h4>
                    <p><span class="fr-icon-stack" aria-hidden="true">Code source</span><br />{% if
                        model['distribution'] == "open-weights" %}<span class="fr-badge">Poids communiqués</span>{%
                        else %}<span class="fr-badge">Propriétaire</span>{% endif %}</p>
                    <p><span class="fr-icon-stack" aria-hidden="true">Corpus d'entrainement</span><br />{% if
                        model['dataset'] == "private" %}<span class="fr-badge">Non communiqué</span>{% else %}<span
                            class="fr-badge">Public</span>{% endif %}</p>
                </div>
                <div class="fr-col-12 fr-col-md-6">
                    <h4>Utilisation</h4>
                    <p><span class="fr-icon-stack" aria-hidden="true">Distribution</span><br />{% if
                        model['distribution'] == "open-weights" %}<span class="fr-badge">Téléchargeable</span>{%
                        else %}<span class="fr-badge">API uniquement</span>{% endif %}</p>
                    <p><span class="fr-icon-stack" aria-hidden="true">Conditions d'usage</span><br />{% if
                        model['conditions'] == "restricted" %}<span class="fr-badge">Sous conditions</span>{% else
                        %}<span class="fr-badge">Libre</span>{% endif %}</p>
                </div>
            </div>
            <h4>Ma conversation correspond à :</h4>
            <div>
                <!-- TODO: ecologits -->
                <div class="fr-tile">-</div>
            </div>
            <p><a class="fr-btn fr-btn--secondary" href="{{ model['link'] }}">En savoir plus</a></p>
        </div>
        {% endfor %}
    </div>
</div>

{% for model, side in [(model_a, 'model-a'), (model_b, 'model-b')] %}
<dialog aria-labelledby="fr-modal-title-modal-{{ side }}" role="dialog" id="fr-modal-{{ side }}" class="fr-modal">
    <div class="fr-container fr-container--fluid fr-container-md">
        <div class="fr-grid-row fr-grid-row--center">
            <div class="fr-col-12 fr-col-md-8 fr-col-lg-6">
                <div class="fr-modal__body">
                    <div class="fr-modal__header">
                        <button class="fr-btn--close fr-btn" title="Fermer la fenêtre modale"
                            aria-controls="fr-modal-{{ side }}">Fermer</button>
                    </div>
                    <div class="fr-modal__content">
                        <h1 id="fr-modal-title-fr-modal-{{ side }}" class="fr-modal__title"><span
                                class="fr-icon-arrow-right-line fr-icon--lg"></span>{{ model['simple_name'] }}</h1>
                        <p>{{ model['description'] }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</dialog>
{% endfor %}