<!DOCTYPE html>
<html>

<head>
    <title>Dashboard compar:IA</title>
    <link rel="stylesheet" href="assets/dsfr/dsfr.min.css">
    <meta http-equiv="refresh" content="5">

</head>

<body>
    <div class="fr-container fr-mx-6w fr-my-4w">
        <h1 class="fr-h1"><a href="/">Dashboard compar:IA</a></h1>
        {% if scheduled_tests %}
        <div class="fr-alert fr-alert--success fr-mb-4w">
            <h3 class="fr-alert__title">Tests programmés</h3>
            <p>Les tests des modèles ont bien été programmés</p>
        </div>
        {% endif %}

        <h3 class="fr-h3">Actions</h3>
        <div class="fr-mb-4w">
            <ul>
                <li><a href="/test_all_endpoints">Tester tous les modèles</a>
                </li>
            </ul>
        </div>
        <h3 class="fr-h3">Incidents</h3>
        <table class="fr-table fr-table__wrapper fr-table__container fr-table__content">
            <tr>
                <th>Modèle</th>
                <th>Date de détection</th>
                <th>Réessayer ?</th>
                <th>Réactiver de force ?</th>
                <th>Raison</th>
            </tr>
            {% for model_id, outage in unavailable_models.items() %}
            <tr>
                <td>{{ outage.model_id }}</td>
                <td>{{ outage.detection_time }}</td>
                <td><a href="/unavailable_models/{{ model_id }}"><strong>Réessayer ?</strong></a></td>
                <td><a href="/unavailable_models/{{ model_id }}/delete">Réactiver de force ?</a></td>
                <td>{% if outage.message %}
                    {{ outage.message|string|truncate(500, True) }}
                    {% else %}
                    <em>Pas d'erreur fournie</em>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
        <h3 class="fr-h3">Endpoints</h3>
        <h4 class="fr-h4">Endpoints actifs</h4>
        <table class="fr-table fr-table__wrapper fr-table__container fr-table__content">
            <tr>
                <th>Nom</th>
                <th>Modèle</th>
                <th>Tester ?</th>
                <th>Désactiver ?</th>
                <th>Toujours forcer en activé ?</th>
                <th>API</th>
                <!-- <th>Stats</th> -->
            </tr>
            {% for endpoint in endpoints %}
            {% if endpoint['model_id'] not in unavailable_models %}
            <tr>
                <td>{{ endpoint['model_id'] }}</td>
                <td>{{ endpoint['model_id'] }}</td>
                <td><a href="/unavailable_models/{{ endpoint['model_id'] }}">Tester ?</a></td>
                <td><a href="/unavailable_models/{{ endpoint['model_id'] }}/create">Désactiver ?</a></td>
                <td><a href="/always_available_models/{{ endpoint['model_id'] }}/create">oujours forcer en activé ?</a></td>
                <td>{{ endpoint["api_base"] | string | truncate(100, True) }}</td>
            </tr>
            {% endif %}
            {% endfor %}
        </table>
        <h4 class="fr-h4">Endpoints désactivés</h4>
        <table class="fr-table fr-table__wrapper fr-table__container fr-table__content">
            <tr>
                <th>Nom</th>
                <th>Modèle</th>
                <th>Tester ?</th>
                <th>Réactiver ?</th>
                <th>API</th>
                <!-- <th>Stats</th> -->
            </tr>
            {% for endpoint in endpoints %}
            {% if endpoint['model_id'] in unavailable_models %}
            <tr>
                <td>{{ endpoint['api_id'] }}</td>
                <td>{{ endpoint['model_id'] }}</td>
                <td><a href="/unavailable_models/{{ endpoint['model_id'] }}">Tester ?</a></td>
                <td><a href="/unavailable_models/{{ endpoint['model_id'] }}/delete">Réactiver ?</a></td>
                <td>{{ endpoint["api_base"] | string | truncate(100, True) }}</td>
            </tr>
            {% endif %}
            {% endfor %}
        </table>

        <h4 class="fr-h4">Endpoints toujours disponibles</h4>
        <table class="fr-table fr-table__wrapper fr-table__container fr-table__content">
            <tr>
                <th>Nom</th>
                <th>Modèle</th>
                <th>Tester ?</th>
                <th>Arrêter de forcer la disponibilité ?</th>
                <th>API</th>
                <!-- <th>Stats</th> -->
            </tr>
            {% for endpoint in endpoints %}
            {% if endpoint['model_id'] in always_available_models %}
            <tr>
                <td>{{ endpoint['api_id'] }}</td>
                <td>{{ endpoint['model_id'] }}</td>
                <td><a href="/always_available_models/{{ endpoint['model_id'] }}">Tester ?</a></td>
                <td><a href="/always_available_models/{{ endpoint['model_id'] }}/delete">Arrêter de forcer la disponibilité ?</a></td>
                <td>{{ endpoint["api_base"] | string | truncate(100, True) }}</td>
            </tr>
            {% endif %}
            {% endfor %}
        </table>
        <h3 class="fr-h3">Tests récents</h3>
        <table class="fr-table fr-table__wrapper fr-table__container fr-table__content">
            <tr>
                <th>Date</th>
                <th>Modèle</th>
                <th>Nombre de tokens</th>
                <th>Résultat</th>
            </tr>
            {% for test in tests %}
            {% set diff = now - test['timestamp'] %}
            {% if diff < 60 %} {% set time_ago=diff ~ "s" %} {% else %} {% set minutes=diff // 60 %} {% set seconds=diff
                % 60 %} {% set time_ago=minutes ~ "min " ~ seconds ~ "s" %} {% endif %} <tr>
                <td>il y a {{ time_ago }}</td>
                <td>{{ test['model_id'] }}</td>
                <td>{{ test.get('output_tokens', '') }}</td>
                <td>{{ test['message'] }}</td>
                </tr>
                {% endfor %}
        </table>
    </div>
</body>

</html>