<dialog aria-labelledby="fr-modal-title-modal-welcome" role="dialog" id="fr-modal-welcome" class="fr-modal">
    <div class="fr-container fr-container--fluid fr-container-md">
        <div class="fr-grid-row fr-grid-row--center">
            <div class="fr-col-12 fr-col-md-8 fr-col-lg-6">
                <div class="fr-modal__body">
                    <div class="fr-modal__header"> <button class="fr-btn--close fr-btn" title="Fermer la fenêtre modale"
                            aria-controls="fr-modal-welcome" id="fr-modal-welcome-close">Fermer</button> </div>
                    <div class="fr-modal__content">
                        <h1 id="fr-modal-title-modal-welcome" class="fr-modal__title">Bienvenue dans Compar:IA !</h1>

                        <p><strong>Voici quelques bonnes pratiques&nbsp;:</strong></p>
                        <div class="flex fr-mb-2w">
                            <span class="fr-icon-success-line fr-mr-1w"></span>
                            <p>Les IA peuvent faire des erreurs&nbsp;: nous vous encourageons à vérifier les
                                informations communiquées</p>
                        </div>
                        <div class="flex fr-mb-2w">
                            <span class="fr-icon-pass-expired-line fr-mr-1w"></span>
                            <p>Ne communiquez pas d'informations personnelles comme votre nom, prénom ou adresse</p>
                        </div>
                        <div class="flex fr-mb-2w">
                            <span class="fr-icon-chat-delete-line fr-mr-1w"></span>
                            <p>N'utilisez pas le comparateur à des fins illégales ou nuisibles</p>
                        </div>
                        <div class="fr-grid-row fr-grid-row--right fr-mb-4w">
                            <button class="fr-btn purple-btn" data-fr-opened="false" aria-controls="fr-modal-welcome">C'est
                                parti</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</dialog>
<button class="fr-btn fr-hidden" data-fr-opened="false" aria-controls="fr-modal-welcome"></button>