DEFAULT_COUNTRY_PORTAL=da

COMPARIA_DB_URI="postgres://user:pass@host:5432/comparia_da?sslmode=require"
COMPARIA_REDIS_HOST=localhost

OPENROUTER_API_KEY=
ORDBOGEN_API_KEY=
GOOGLE_APPLICATION_CREDENTIALS=

HF_PUSH_DATASET_KEY_DA=

AWS_SECRET_ACCESS_KEY=
AWS_ACCESS_KEY_ID=
AWS_ENDPOINT_URL=https://s3.gra.io.cloud.ovh.net/
AWS_DEFAULT_REGION=gra

SENTRY_DSN=
SENTRY_ENVIRONMENT=prd
SENTRY_SAMPLE_RATE=1.0

LOG_FORMAT=JSON
# ALTCHA_HMAC_KEY=
# MOCK_RESPONSE=true
